JS/Dashboard NodeRed/HTTP Requests Flow/FLOW_HTTP_Requests.JSON
[{"id":"dadaf558.6ed068","type":"tab","label":"HTTP REQUESTS","disabled":false,"info":""},{"id":"419bf4d1.1504cc","type":"http request","z":"dadaf558.6ed068","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDataPack","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["4c01c5d4.62f2dc"]]},{"id":"4c01c5d4.62f2dc","type":"json","z":"dadaf558.6ed068","name":"","property":"payload","action":"","pretty":false,"x":870,"y":220,"wires":[["c8768b7e.8892d8","c940be64.96879"]]},{"id":"f0423ab0.2d2368","type":"switch","z":"dadaf558.6ed068","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SMARTWATCH","vt":"str"},{"t":"cont","v":"fieldSensors","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":320,"wires":[["419bf4d1.1504cc","25ae3134.b5725e"],["45eb071e.d58ec8"]]},{"id":"25ae3134.b5725e","type":"debug","z":"dadaf558.6ed068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":100,"wires":[]},{"id":"a6371ae8.10c018","type":"link in","z":"dadaf558.6ed068","name":"Req_out_SMART","links":["b0da8293.16a5"],"x":275,"y":220,"wires":[["f0423ab0.2d2368"]]},{"id":"45eb071e.d58ec8","type":"http request","z":"dadaf558.6ed068","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDataPack","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":320,"wires":[["1f8ef620.0a53ea"]]},{"id":"1f8ef620.0a53ea","type":"json","z":"dadaf558.6ed068","name":"","property":"payload","action":"","pretty":false,"x":870,"y":320,"wires":[["cc0d53aa.cd69c"]]},{"id":"c8768b7e.8892d8","type":"link out","z":"dadaf558.6ed068","name":"Req_in_SMART","links":["9f294c7f.7f80b"],"x":1015,"y":220,"wires":[]},{"id":"10266841.69d628","type":"comment","z":"dadaf558.6ed068","name":"SMARTWATCH","info":"","x":700,"y":180,"wires":[]},{"id":"7edc1151.905e3","type":"comment","z":"dadaf558.6ed068","name":"fieldSensors","info":"","x":690,"y":280,"wires":[]},{"id":"587e18b2.01f288","type":"link in","z":"dadaf558.6ed068","name":"Fieldsensors_out_req","links":["752089da.4e5a68"],"x":275,"y":320,"wires":[["f0423ab0.2d2368"]]},{"id":"cc0d53aa.cd69c","type":"link out","z":"dadaf558.6ed068","name":"Req_in_FIELD","links":["3c293933.6cbb46"],"x":1015,"y":320,"wires":[]},{"id":"c940be64.96879","type":"debug","z":"dadaf558.6ed068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":100,"wires":[]}]