JS/Dashboard NodeRed/Backup/BACKUP DASHBOARD NODERED 31-03-2020.json
[{"id":"678ae0e0.840fd","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c1f70b31.931348","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d23a9853.4eb138","type":"tab","label":"Smartwatch","disabled":false,"info":""},{"id":"a9ee9574.9c30e8","type":"tab","label":"FieldSensors","disabled":false,"info":""},{"id":"dd17dfa2.64ad1","type":"tab","label":"Machine","disabled":false,"info":""},{"id":"a8f1e1a6.a2b0a","type":"tab","label":"Machine_BACKUP","disabled":false,"info":""},{"id":"935e8b24.f0a018","type":"tab","label":"HTTP REQUESTS","disabled":false,"info":""},{"id":"c9ed46f.56a75b8","type":"tab","label":"RASPI SIMULATOR","disabled":false,"info":""},{"id":"924d3c1b.880c2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8bf804b3.6e64b8","type":"websocket-listener","z":"","path":"/v1/dataPack/machine","wholemsg":"false"},{"id":"28ea7ca9.649d64","type":"websocket-listener","z":"","path":"/v1/dataPack/smartwatch","wholemsg":"false"},{"id":"93144e99.c29c7","type":"websocket-listener","z":"","path":"/v1/dataPack/fieldSensors","wholemsg":"false"},{"id":"6bac71e0.05c5c","type":"websocket-listener","z":"","path":"/v1/realTime/notifications","wholemsg":"false"},{"id":"d631248.809e5d8","type":"websocket-listener","z":"","path":"/v1/realTime/smartwatch","wholemsg":"false"},{"id":"6f7bb413.fa4e1c","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors","wholemsg":"false"},{"id":"c6eb954a.1f1878","type":"websocket-listener","z":"","path":"/v1/realTime/machine","wholemsg":"false"},{"id":"3f8f892d.006986","type":"websocket-listener","z":"","path":"v1/realTime/integrationPlatform","wholemsg":"false"},{"id":"12ce4119.28fdff","type":"websocket-listener","z":"","path":"/v1/telemetry","wholemsg":"false"},{"id":"baf9ae75.3a2cb","type":"websocket-client","z":"","path":"ws://integr-platform.azurewebsites.net/v1/telemetry","tls":"","wholemsg":"false"},{"id":"7036b6d6.424248","type":"ui_group","z":"","name":"TAB_1","tab":"","disp":true,"width":"10","collapse":false},{"id":"36220c02.992ca4","type":"websocket-listener","z":"","path":"/ws/sensore_fumo","wholemsg":"false"},{"id":"f6767760.cf66e8","type":"websocket-listener","z":"","path":"/ws/sensore_fiamme","wholemsg":"false"},{"id":"a8ea3aea.22da68","type":"ui_group","z":"","name":"Device TEST 2","tab":"","disp":true,"width":"30","collapse":false},{"id":"b4bd926c.a792d","type":"websocket-listener","z":"","path":"/ws/json_generico","wholemsg":"false"},{"id":"9d9b8514.0b3888","type":"websocket-listener","z":"","path":"/v1/json_generico","wholemsg":"false"},{"id":"ac052005.614d4","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Neon_TRON","default":"#4B7930","baseColor":"#131313","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#131313","edited":true},"page-titlebar-backgroundColor":{"value":"#131313","edited":true},"page-backgroundColor":{"value":"#131313","edited":true},"page-sidebar-backgroundColor":{"value":"#131313","edited":true},"group-textColor":{"value":"#dfdfdf","edited":true},"group-borderColor":{"value":"#131313","edited":true},"group-backgroundColor":{"value":"#131313","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#ff8000","edited":true},"widget-borderColor":{"value":"#131313","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8bae673.3ffc198","type":"ui_spacer","name":"spacer","group":"a8ea3aea.22da68","order":5,"width":18,"height":1},{"id":"da4a30fe.10ff7","type":"ui_spacer","name":"spacer","group":"a8ea3aea.22da68","order":6,"width":18,"height":1},{"id":"bbb776d2.d3daa8","type":"ui_spacer","name":"spacer","group":"a8ea3aea.22da68","order":7,"width":18,"height":1},{"id":"77560a2d.dfa394","type":"ui_spacer","name":"spacer","group":"a8ea3aea.22da68","order":8,"width":18,"height":1},{"id":"d789e06e.e4179","type":"ui_group","z":"","name":"Device TEST 1","tab":"","disp":true,"width":"30","collapse":false},{"id":"76c68c6e.234674","type":"websocket-listener","z":"","path":"/message","wholemsg":"false"},{"id":"5525549.35818ac","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"3aa8be93.3e1432","type":"ui_group","z":"","name":"Dashboard_blocco_1","tab":"5525549.35818ac","order":7,"disp":true,"width":"10","collapse":false},{"id":"36bade13.499992","type":"websocket-listener","z":"","path":"/v1/dataPack/smartwatch_BACKUP","wholemsg":"false"},{"id":"5c2819.9c4107e8","type":"websocket-listener","z":"","path":"/v1/dataPack/fieldSensors_BACKUP","wholemsg":"false"},{"id":"778b9283.63745c","type":"websocket-listener","z":"","path":"/v1/dataPack/machine_BACKUP","wholemsg":"false"},{"id":"d6e11942.964f38","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors/humiditass","wholemsg":"false"},{"id":"73ef4fa5.973a7","type":"ui_group","z":"","name":"Machine","tab":"5525549.35818ac","order":9,"disp":true,"width":"9","collapse":false},{"id":"975ffe65.0c943","type":"ui_group","z":"","name":"Smartwatch","tab":"5525549.35818ac","order":6,"disp":true,"width":"9","collapse":false},{"id":"2180bd8b.3f7ba2","type":"ui_group","z":"","name":"FieldSensors","tab":"5525549.35818ac","order":8,"disp":true,"width":"9","collapse":false},{"id":"1823e95e.e1bfb7","type":"ui_group","z":"","name":"Logging_notifies","tab":"5525549.35818ac","order":11,"disp":true,"width":"18","collapse":false},{"id":"5b8efac4.ffd684","type":"ui_group","z":"","name":"Streaming Video","tab":"5525549.35818ac","order":12,"disp":true,"width":"12","collapse":false},{"id":"705a3868.7dba38","type":"ui_group","z":"","name":"[DashBoard] Mappa","tab":"5525549.35818ac","order":13,"disp":true,"width":"12","collapse":false},{"id":"c368fdd1.b4ec","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/sensore_fumo","tls":"","wholemsg":"false"},{"id":"dca924df.5ac858","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/sensore_fiamme","tls":"","wholemsg":"false"},{"id":"2d771666.400a5a","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/json_generico","tls":"","wholemsg":"false"},{"id":"42b18767.9ce8e8","type":"websocket-listener","z":"","path":"ws://demo-eics.azurewebsites.net:80/v1/listener/machine","wholemsg":"false"},{"id":"aa22a78c.1de048","type":"websocket-listener","z":"","path":"ws://demo-eics.azurewebsites.net:80/v1/listener/smartwatch","wholemsg":"false"},{"id":"3027efb2.394e8","type":"ui_group","z":"","name":"test","tab":"5525549.35818ac","order":10,"disp":true,"width":"9","collapse":false},{"id":"5c288f8c.feece","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors_BACKUP","wholemsg":"false"},{"id":"f3ff3d3f.ecd6e","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors/gas","wholemsg":"false"},{"id":"8da43a45.5a1a08","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors/temperature","wholemsg":"false"},{"id":"47b69674.93a568","type":"websocket-listener","z":"","path":"/v1/realTime/machine/counter","wholemsg":"false"},{"id":"5f73a12b.635c6","type":"websocket-listener","z":"","path":"/v1/realTime/machine/rpm","wholemsg":"false"},{"id":"16f4021d.4b7e5e","type":"websocket-listener","z":"","path":"/v1/realTime/machine/temperature","wholemsg":"false"},{"id":"11432ab2.781755","type":"websocket-listener","z":"","path":"/v1/realTime/fieldSensors/fire","wholemsg":"false"},{"id":"68c506df.7b9648","type":"websocket-listener","z":"","path":"/v1/realTime/notifications_BACKUP","wholemsg":"false"},{"id":"f30f9d15.200ba","type":"websocket-listener","z":"","path":"/v1/realTime/smartwatch_BACKUP","wholemsg":"false"},{"id":"f874129.8ba72f","type":"ui_group","z":"","name":"Placeholder","tab":"5525549.35818ac","order":14,"disp":true,"width":"9","collapse":false},{"id":"d8c78e48.c590d","type":"ui_group","z":"","name":"Logo_pwc","tab":"","disp":true,"width":"9","collapse":false},{"id":"16d3af.acd7dc51","type":"ui_group","z":"","name":"Logo","tab":"5525549.35818ac","order":15,"disp":true,"width":"9","collapse":false},{"id":"45a2d33b.a2228c","type":"websocket-client","z":"","path":"ws://localhost:1880/v1/dataPack/machine","tls":"","wholemsg":"false"},{"id":"49943a18.f69c44","type":"websocket-listener","z":"","path":"/v1/realTime/machine_BACKUP","wholemsg":"false"},{"id":"3758d877.a515d8","type":"websocket-listener","z":"","path":"v1/realTime/integrationPlatform_BACKUP","wholemsg":"false"},{"id":"52a3e859.8bc6c8","type":"websocket-client","z":"","path":"ws://integr-platform.azurewebsites.net/v1/telemetryA","tls":"","wholemsg":"false"},{"id":"7da217f2.d86038","type":"json","z":"a8f1e1a6.a2b0a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":260,"wires":[["a3fdc1c4.a166a","250a46fd.16727a"]]},{"id":"a0237bec.bda978","type":"ui_template","z":"a8f1e1a6.a2b0a","group":"7036b6d6.424248","name":"Import chart.js","order":3,"width":0,"height":0,"format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1220,"y":260,"wires":[["64d515ed.e01dbc","c21e8bb0.12c918"]]},{"id":"63aab77c.f3c058","type":"function","z":"a8f1e1a6.a2b0a","name":"Parser messaggio","func":"let data = msg.payload;\nvar cont = context;\nconsole.log(cont);\nvar t;\nvar sv;\nvar ts;\nvar type, value, priority, role, min_threshold, max_threshold;\nfor (var i = 0; i < data.length; i++){\n    for (var h= 0; h < data[i].SIGNALS.length;h++){\n        t = data[i].SIGNALS[h].TYPE;\n        sv = data[i].SIGNALS[h].VALUE;\n        ts = data[i].SIGNALS[h].SIGNAL_TIMESTAMP;\n        if (data[i].SIGNALS[h].MIN_THRESHOLD != \"NULL\" && data[i].SIGNALS[h].MAX_THRESHOLD != \"NULL\"){\n            min_threshold = data[i].SIGNALS[h].MIN_THRESHOLD;\n            max_threshold = data[i].SIGNALS[h].MAX_THRESHOLD;\n            node.send({\n                timestamp: ts,\n                sensor_value: sv,\n                min: min_threshold,\n                max: max_threshold,\n                topic: t\n            });\n        } else {\n            node.send({\n                timestamp: ts,\n                sensor_value: sv,\n                topic: t\n            });\n        }\n    }\n    if (data[i].NOTIFICATIONS.length > 0){\n        for (var j = 0; j < data[i].NOTIFICATIONS.length;j++){\n            type = data[i].NOTIFICATIONS[j].TYPE;\n            value = data[i].NOTIFICATIONS[j].VALUE;\n            priority = data[i].NOTIFICATIONS[j].PRIORITY;\n            role = data[i].NOTIFICATIONS[j].ROLE;\n            node.send(\n                {\n                    notif_info:[{\n                        notify_value: value,\n                        notify_type: type,\n                        notify_priority: priority,\n                        notfiy_role: role\n                    }],\n                    topic: \"notification\"\n                }\n            )\n        }\n    }\n}\n\n","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["bad665f3.7e2e18","610af679.b50ef8","82033bd8.e8e158"]]},{"id":"6c11fb5f.c49a24","type":"websocket in","z":"a8f1e1a6.a2b0a","name":"","server":"778b9283.63745c","client":"","x":190,"y":60,"wires":[["42ec2c4e.558da4"]]},{"id":"bad665f3.7e2e18","type":"template","z":"a8f1e1a6.a2b0a","name":"Stile css","field":"style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n","output":"str","x":1040,"y":260,"wires":[["a0237bec.bda978"]]},{"id":"e5e9a5ab.3182d8","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"73ef4fa5.973a7","name":"Gestore_grafici_macchine","order":0,"width":"9","height":"13","format":"<style>{{msg.style}}</style>\n<div id=\"containerRPMtit\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-tachometer\" style=\"font-size:30px;color:#E5E5E5;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">RPM</p>\n</div>\n<div id=\"containerMachine\">\n    <canvas id=\"machineChart\"></canvas>\n</div>\n<div id=\"container_s_data_mach\">\n    <div id=\"containerCounter\">\n        <div id=\"containerCounterVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-industry\" style=\"font-size:30px;color:lightblue;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"counterMachine\">0</p>\n            <a class=\"counter_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">PIECES COUNTER</a>\n        </div>\n    </div>\n    <div id=\"containerRPM\">\n        <div id=\"containerRPMVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-tachometer\" style=\"font-size:30px;color:#E5E5E5;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"rpmText\">0</p>\n            <a class=\"rpm_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">RPM</a>\n        </div>\n    </div>\n    <div id=\"containerTemperature\">\n        <div id=\"containerTempVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#009C41;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"tempText\">0</p>\n            <a class=\"temp_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">°C</a>\n        </div>\n    </div>\n</div>\n<div id=\"containerTempMachineTit\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#009C41;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">TEMPERATURE (°C)</p>\n</div>\n    <div id=\"containerTempMachine\">\n        <canvas id=\"tempChart\"></canvas>\n    </div>\n    \n    <script>\n    \n//GRAFICI ---------------------\n/*    \nvar myChart;\nvar ctx = document.getElementById('machineChart');\ncont = ctx.getContext(\"2d\");\nvar gradient_RPM = cont.createLinearGradient(0, 0, 0, 500);\ngradient_RPM.addColorStop(0, \"rgba(0,212,255,0.1)\");   \ngradient_RPM.addColorStop(0.63, \"rgba(121,9,115,0.1)\");\ngradient_RPM.addColorStop(1, \"rgba(19,19,19,0.1)\");\n\nmyChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Round per Minute',\n            data: [0],\n            backgroundColor: gradient_RPM,\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 1,\n            pointBackgroundColor: function(ctx) {\n                var index = ctx.dataIndex;\n                var value = ctx.dataset.data[index];\n                var data_length = ctx.dataset.data.length - 1;\n                return index < data_length - 1 ? 'transparent' : 'green';\n                //return index === 0 ? 'red' : 'green';\n            }\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: [{\n                ticks: {\n                    max: 10,\n                    min: 0,\n                    stepSize: 1\n                }\n            }],\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        },\n        tooltips: {\n\t\t\tmode: \"index\"\n\t\t},\n\t\thover: {\n\t\t\tmode: \"index\"\n\t\t},\n        annotation: {\n              annotations: \n              [{\n                type: 'line',\n                mode: 'horizontal',\n                scaleID: 'y-axis-0',\n                value: 500,\n                borderColor: 'rgb(255, 255, 255)',\n                borderWidth: 2,\n                label: \n                {\n                  enabled: true,\n                  content: 'min'\n                }\n              },\n              {\n                type: 'line',\n                mode: 'horizontal',\n                scaleID: 'y-axis-0',\n                value: 1000,\n                borderColor: 'rgb(255, 0, 0)',\n                borderWidth: 2,\n                label: \n                {\n                  enabled: true,\n                  content: 'max'\n                }\n              }]\n        }\n    }\n});\n\nvar myChart_2;\nvar ctx_2 = document.getElementById('tempChart');\n\nmyChart_2 = new Chart(ctx_2, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Temperature',\n            data: [0],\n            backgroundColor: gradient_RPM,\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: [{\n                ticks: {\n                    max: 10,\n                    min: 0,\n                    stepSize: 1\n                }\n            }],\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        }\n    }\n});\n*/\n/*\n//To manage different colors\nvar pointBackgroundColors = [\"transparent\"];\n\nvar myChart_HEART;\nvar ctx_H = document.getElementById('heartChart');\n\ncont_HE = ctx_H.getContext(\"2d\");\nvar gradientHE = cont_HE.createLinearGradient(0, 0, 0, 500);\ngradientHE.addColorStop(0, \"rgba(0,212,255,0.1)\");   \ngradientHE.addColorStop(0.53, \"rgba(121,9,115,0.1)\");\ngradientHE.addColorStop(1, \"rgba(19,19,19,0.1)\");\n\nmyChart_HEART = new Chart(ctx_H, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Bps',\n            data: [0],\n            backgroundColor: gradientHE,\n            borderColor: [\n                'rgba(70,102,255, 0.7)'\n            ],\n            borderWidth: 1,\n            pointBackgroundColor: pointBackgroundColors\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: \n            [{\n                ticks: {\n                    max: 50,\n                    min: 0,\n                    stepSize: 1,\n                }\n            }],\n            yAxes: \n            [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        }\n    }\n});\n\nvar myChart_ALT;\nvar ctx_ALT = document.getElementById('altitudeChart');\n\ncont_ALT = ctx_ALT.getContext(\"2d\");\nvar gradient = cont_ALT.createLinearGradient(0, 0, 0, 500);\ngradient.addColorStop(0, \"rgba(0,212,255,0.1)\");   \ngradient.addColorStop(0.63, \"rgba(121,9,115,0.1)\");\ngradient.addColorStop(1, \"rgba(19,19,19,0.1)\");\n\nvar gradientAH = cont_ALT.createLinearGradient(0, 0, 0, 200);\ngradientAH.addColorStop(0, \"rgba(0,212,255,0.5)\");   \ngradientAH.addColorStop(0.53, \"rgba(121,9,115,0.4)\");\ngradientAH.addColorStop(1, \"rgba(19,19,19,0.4)\");\n\nvar gradient_ALT_BORDER = cont_ALT.createLinearGradient(0, 0, 0, 200);\ngradient.addColorStop(0, \"rgba(0,212,255,1)\");   \ngradient.addColorStop(0.63, \"rgba(121,9,115,0.8)\");\ngradient.addColorStop(1, \"rgba(19,19,19,0.6)\");\n\nmyChart_ALT = new Chart(ctx_ALT, {\n    type: 'bar',\n    data: {\n        datasets: [{\n            categoryPercentage: 0.5,\n            barPercentage: 0.5,\n            barThickness: 1,\n            label: 'Altitude',\n            fillColor: gradient,\n            hoverBackgroundColor: gradientAH,\n            borderColor: \"white\",\n            borderWidth: 1\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: [{\n                ticks: {\n                    type: 'category',\n                    max: 20,\n                    min: 15,\n                    stepSize: 1\n                }\n            }],\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        }\n    }\n});\n*/\n\n/*\nvar myChart_TEMP;\nvar ctx_TEMP;\nctx_TEMP = document.getElementById('fieldTempChart');\ncont_TEMP = ctx_TEMP.getContext(\"2d\");\nvar gradient_TEMP = cont_TEMP.createLinearGradient(0, 0, 0, 500);\ngradient_TEMP.addColorStop(0, \"rgba(0,212,255,0.1)\");   \ngradient_TEMP.addColorStop(0.63, \"rgba(121,9,115,0.1)\");\ngradient_TEMP.addColorStop(1, \"rgba(19,19,19,0.1)\");\nmyChart_TEMP = new Chart(ctx_TEMP, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: '°C',\n            data: [0],\n            backgroundColor: gradient_TEMP,\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: [{\n                ticks: {\n                    max: 10,\n                    min: 0,\n                    stepSize: 1\n                }\n            }],\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        }\n    }\n});\n\nvar myChart_HUM;\nvar ctx_HUM = document.getElementById('fieldHumChart');\nmyChart_HUM = new Chart(ctx_HUM, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Humidity',\n            data: [0],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            xAxes: [{\n                ticks: {\n                    max: 10,\n                    min: 0,\n                    stepSize: 1\n                }\n            }],\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: false\n        }\n    }\n});\n*/\n    //GRAFICI -----------------\\\\\\\\\\\nvar ScopeX;\n\nvar count_mac = 0;\nvar count_round = 0;\nvar count_heart = 0;\nvar count_alt = 0;\nvar count_temp = 0;\nvar count_hum = 0;\nvar count_row = 0;\n\n//Text vars to be populated with values\nvar text;\nvar text_sound;\nvar text_heart;\nvar text_temp;\nvar text_rpm;\n\nvar notifications;\n//Type of graph to which append data (can be BAR or LINEAR)\nvar type;\n\n//msg - signals threshold\nvar min, max;\n\nvar svg_heart = document.getElementById(\"svg_heart\");\n\n(function(scope) {\n\ttext = document.getElementById(\"counterMachine\");\n\ttext_sound = document.getElementById(\"soundText\");\n\ttext_heart = document.getElementById(\"heartText\");\n\ttext_temp = document.getElementById(\"tempText\");\n\ttext_rpm = document.getElementById(\"rpmText\");\n        scope.$watch('msg', function(msg, data) {\n            scopeX = scope;\n            type = \"\";\n            if (typeof msg !== 'undefined'){\n                if (typeof msg.timestamp !== 'undefined'){\n                    var t = msg.timestamp;\n                    var time = t.substring(11,13);\n                    var minutes = t.substring(15,17);\n                }\n                if (msg.min != null && msg.max != null){\n                    min = msg.min;   \n                    max = msg.max;\n                }\n                switch(msg.topic){\n                    case \"roundPerMinute\":\n                        roundPerMinuteRoutine(time,msg.sensor_value);\n                        break;\n                    case \"piecesCount\":\n                    \tpiecesCountRoutine(msg.sensor_value);\n                    \tbreak;\n                    case \"machineTemperature\":\n                    \tmachineTempRoutine(time,msg.sensor_value);\n                    \tbreak;\n                    case \"barometer\":\n                        console.log(\"barometer: \"+msg.sensor_value);\n                        var val = parseInt(msg.sensor_value, 10);\n                        altitudeRoutine(time,val);\n                        break;\n                    case \"heartrate\":\n                        heartRoutine(time,msg.sensor_value);\n                    \tbreak;\n                    case \"decibel\":\n                        soundRoutine(msg.sensor_value, scope);\n                    \tbreak;\n                    case \"temperature\":\n                        tempRoutine(time,msg.sensor_value);\n                        break;\n                    case \"humidity\":\n                        humRoutine(time,msg.sensor_value);\n                        break;\n                    case \"flame\":\n                        flameRoutine(time,msg.sensor_value);\n                        break;\n                    case \"gas\":\n                        gasRoutine(time,msg.sensor_value);\n                        break;\n                    case \"notification\":\n                        populateLoggingTable(msg.notif_info, count_row);\n                        break;\n                }\n            }\n        })\n    })(scope);\n    \n\n\nfunction addData(chart, label, d, index, type) {\n    chart.data.labels.push(label);\n    var dat = parseInt(d);\n    if (type != \"altitude\" && index > 10){\n        if (type != \"heartrate\"){\n            removeData(chart, type);\n        } else if (index > 50){\n            removeData(chart, type);\n        }\n    } else if (index > 20){\n        removeData(chart, type);\n    }\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.push(dat);\n        var input = dataset.data;\n        //debug\n        if (type === \"heartrate\"){\n            console.log(input);\n            console.log(pointBackgroundColors);\n        }\n        \n        if (type === \"altitude\"){\n            dataset.backgroundColor = gradient;\n            dataset.hoverBackgroundColor = \"rgba(0,212,255,0.2)\";\n            dataset.borderColor = (\"transparent\");\n        }\n        if (type === \"heartrate\"){\n            chart.config.data.datasets[0].backgroundColor = gradientHE;\n            //chart.config.data.datasets[0][\"pointBackgroundColor\"] = 'rgba(70,102,255, 1)';\n            console.log(\"dataset: \"+ dataset.data[0].pointBackgroundColor);\n            console.log(\"Heartrate - min: \"+min+\" max: \"+max + \" act: \"+dat);\n            if (dat >= min && dat <= max) {\n                console.log(\"normal value: \"+dat);\n                pointBackgroundColors.push(\"transparent\");\n            }\n            if (dat > max){\n                console.log(dat+ \" > \" +max);\n                //input.pointBackgroundColor = 'red';\n                //chart.config.data.datasets[0].data.radius = '5';\n                pointBackgroundColors.push(\"red\");\n            } \n            if (dat < min) {\n                console.log(dat+ \" < \" +max);\n                pointBackgroundColors.push(\"red\");\n                //chart.config.data.datasets[0]['pointBackgroundColor'][0] = 'green';\n                //chart.config.data.datasets[0].radius = '5';\n                //dataset.pointBackgroundColor = \"green\";\n            }\n        }\n        if (type === \"roundPerMinute\"){\n            console.log(\"RPM - dataset: \"+dataset);\n            console.log(\"RPM - dataset.data: \"+dataset.data);\n            console.log(\"RPM - dasets[0].data: \"+chart.config.data.datasets[0].data);\n            console.log(\"RPM - dataset: \"+dataset[0])\n            //chart.config.data.datasets[0].pointBackgroundColor =\"rgba(255,255,255,1)\";\n        }\n    });\n    chart.update();\n}\n\nfunction removeData(chart, t){\n    chart.data.labels.shift();\n    //var meta = myChart.getDatasetMeta(0);\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.shift();\n        if (t === \"heartrate\"){\n            pointBackgroundColors.shift();\n        }\n    });\n    chart.update();\n}\n\nfunction removeSingleData(chart) {\n    chart.data.labels.shift();\n    chart.update();\n}\n\nfunction piecesCountRoutine(value){\n    var val = value;\n    //increment(text, val);\n    text.innerHTML = val;\n}\n\nfunction soundRoutine(value, node){\n    var val = value;\n    text_sound.innerHTML = val;\n    node.send({\n        payload: value,\n        topic: \"sound\"\n    });\n}\n\nfunction roundPerMinuteRoutine(times, value){\n    text_rpm.innerHTML = value;\n    type=\"roundPerMinute\";\n\taddData(myChart,times,value, count_round++, type);\n}\n\nfunction machineTempRoutine(times, value){\n    text_temp.innerHTML = value;\n    addData(myChart_2,times,value,count_mac++, type);\n}\n\nfunction heartRoutine(times, value){\n    type=\"heartrate\";\n    text_heart.innerHTML = value;\n    addData(myChart_HEART,times,value,count_heart++, type);\n}\n\nfunction altitudeRoutine(times, value){\n    type=\"altitude\";\n\taddData(myChart_ALT,times,Math.floor(value), count_alt++, type);\n}\n\nfunction tempRoutine(times, value){\n\taddData(myChart_TEMP,times,value, count_temp++, type);\n}\n\nfunction humRoutine(times, value){\n    addData(myChart_HUM,times,value, count_hum++, type);\n}\n\nvar canDelete;\n\nfunction populateLoggingTable(notification,index){\n    var table = document.getElementById(\"tab_log_notif\");\n    var rows_start = document.getElementsByClassName(\"row\");\n\n    var row_length = rows_start.length;\n    var row = rows_start[0];\n    var cell_value = row.cells[2];\n    var cell_type = row.cells[1];\n    var cell_priority = row.cells[0];\n    var cell_length = row.cells.length;\n    \n    \n    for (var j = 0; j < notification.length;j++){\n        shiftTable(table, rows_start);\n        cell_value.innerHTML = notification[j].notify_value;\n        cell_type.innerHTML = notification[j].notify_type;\n        cell_priority.innerHTML = notification[j].notify_priority;\n    }\n    count_row++;\n}\n\nfunction shiftTable(table){\n  var tab = document.getElementById(\"tab_log_notif\");\n  var rows = tab.getElementsByClassName(\"row\");\n  var shifted = rows[0];\n  rows[0].parentNode.removeChild(rows[0]);\n  table.appendChild(shifted);\n}\n\nfunction increment(elem, finalVal) {\n  var curr_val = parseInt(text.innerHTML, 10);\n  if (curr_val < final_val) {\n    curr_val++;\n    text.innerHTML = curr_val;\n    setTimeout(function() {\n      increment(elem, final_val);\n    }, 40)\n  }\n  if (currVal > finalVal){\n    curr_val--;\n    text.innerHTML = curr_val;\n    setTimeout(function() {\n      increment(elem, final_val);\n    }, 40);\n  }\n}\n\n\n</script>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1710,"y":260,"wires":[["b9f6ebe1.75d1f8","e5afd933.d90628","8c2b97be.f75298"]]},{"id":"e3b9c02e.0f165","type":"websocket in","z":"a8f1e1a6.a2b0a","name":"","server":"36bade13.499992","client":"","x":200,"y":120,"wires":[[]]},{"id":"adb5e558.1d5198","type":"websocket in","z":"a8f1e1a6.a2b0a","name":"","server":"5c2819.9c4107e8","client":"","x":200,"y":180,"wires":[[]]},{"id":"64d515ed.e01dbc","type":"ui_template","z":"a8f1e1a6.a2b0a","group":"1823e95e.e1bfb7","name":"","order":5,"width":"18","height":"3","format":"<style>\n    #container_log{\n        width: 100%;\n        height: 100%;\n        position:relative;\n    }\n    .row{\n        float:left;\n        width:50%;\n        display: inherit;\n    }\n</style>\n\n<div id=\"container_log\" style=\"width: 100%;\">\n    <table id =\"tab_log_notif\">\n        <tr id=\"row_0\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_1\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_2\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_3\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_4\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_5\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_6\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_7\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_8\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_9\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_10\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_11\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_12\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n        <tr id=\"row_13\" class=\"row\">\n            <td class=\"priority\"></td>\n            <td class=\"type\"></td>\n            <td class=\"value\"></td>\n            <td class=\"delete\"></td>\n        </tr>\n    </table>\n</div>\n\n<script>\nvar row_index;\n\n(function(scopeX) {\n        scopeX.$watch('msg', function(msg) {\n            console.log(\"okkkkkkkkkkkk\");\n            console.log(msg.notif_info[0].notify_value);\n            populateLoggingTable(msg.notif_info,row_index);\n        })\n    });\n    \n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1420,"y":260,"wires":[["e5e9a5ab.3182d8"]]},{"id":"250a46fd.16727a","type":"debug","z":"a8f1e1a6.a2b0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"a3fdc1c4.a166a","type":"change","z":"a8f1e1a6.a2b0a","name":"","rules":[{"t":"set","p":"sensor_value","pt":"msg","to":"","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"set","p":"notify_type","pt":"msg","to":"","tot":"str"},{"t":"set","p":"notify_value","pt":"msg","to":"","tot":"str"},{"t":"set","p":"notify_priority","pt":"msg","to":"","tot":"str"},{"t":"set","p":"notify_role","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["63aab77c.f3c058"]]},{"id":"ea9cead8.ebc078","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"975ffe65.0c943","name":"gauge_decibel","order":1,"width":"6","height":"6","format":"<div id=\"svgcontainer\">\n\t<svg height=\"300\" width=\"300\" id=\"svg\">\n\t\t<circle id=\"progressbg\" cx=\"150\" cy=\"150\" r=\"120\" stroke-width=\"29\" fill=\"transparent\" stroke-dasharray=\"753.9822368615503\" />\n\t\t<circle id=\"progress\" cx=\"150\" cy=\"150\" r=\"120\" stroke-width=\"30\" fill=\"transparent\" stroke-dasharray=\"753.9822368615503\" />\n\t</svg>\n\t<div id=\"value\"></div>\n</div>\n\n<script>\nvar yb = document.getElementById(\"value\");\nvar progress = document.getElementById(\"progress\");\n\n//setProgress();\n\nvar valore_in;\n(function(scopeS) {\n    // watch msg object from Node-RED\n    scopeS.$watch('msg.payload', function(data) {\n            var int_d = Math.floor(parseInt(data, 10));\n            console.log(\"asdadsds \"+ Number(int_d));\n            setProgress(int_d);\n            showSliderValue(Number(int_d));\n        });\n})(scope);\n\nfunction showSliderValue(input){\n    yb.innerHTML = input+\"dB\";\n}\nfunction setProgress(input){\n    var valore_random= input;\n\tvar radius = progress.getAttribute(\"r\");\n\tvar circumference = 2 * Math.PI * radius;\n\n\t//var progress_in_percent = yb.id('slider').value;\n    var progress_in_percent = valore_random;\n\tvar progress_in_pixels = circumference * (100-progress_in_percent)/100;\n\tprogress.style.strokeDashoffset = progress_in_pixels+'px';\n\n\tif(valore_random < 25){\n\t\tprogress.style.stroke = 'red';\n\t\tyb.style.color = 'red';\n\t}\n\telse if(valore_random >= 75){\n\t\tprogress.style.stroke = '#7df';\n\t\tyb.style.color = '#7df';\n\t}\n\telse{\n\t\tprogress.style.stroke = 'gold';\n\t\tyb.style.color = 'gold';\n\t}\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2100,"y":260,"wires":[[]]},{"id":"b9f6ebe1.75d1f8","type":"switch","z":"a8f1e1a6.a2b0a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sound","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1920,"y":260,"wires":[["ea9cead8.ebc078"]]},{"id":"8c2b97be.f75298","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"5b8efac4.ffd684","name":"flusso_video","order":0,"width":"12","height":"7","format":"<iframe width=\"100%\" height=\"100%\" src=\"https://youtu.be/embed/G1lbRujko-A\">\n</iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2070,"y":340,"wires":[[]]},{"id":"f05b2b8b.1c3f08","type":"comment","z":"a8f1e1a6.a2b0a","name":"","info":"I grafici vanno gestiti nel file big perchè sennò bisogna mettere listener di msg doppi.\n\nPer i segnali non in real time è possibile splittare dal file big","x":1660,"y":220,"wires":[]},{"id":"e5afd933.d90628","type":"switch","z":"a8f1e1a6.a2b0a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"barometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":140,"wires":[[]]},{"id":"c21e8bb0.12c918","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"705a3868.7dba38","name":"Mappa","order":0,"width":"12","height":"7","format":"    <style>\n      #map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}\n    </style>\n    <div id=\"map\"></div><p><a href=\"https://www.maptiler.com/copyright/\" target=\"_blank\">© MapTiler</a> <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">© OpenStreetMap contributors</a></p>\n    <script>\n    /*\n    var key = '58vA8P4IZAl6z9EyXxMt';\n    var map = new ol.Map({\n      layers: [\n        new ol.layer.Tile({\n          source: new ol.source.TileJSON({\n            url: 'https://api.maptiler.com/maps/1462fcad-0433-489f-8da7-95a4543f5271/style.json?key=' + key,\n            tileSize: 512,\n            crossOrigin: 'anonymous'\n          })\n        })\n      ],\n      target: 'map',\n      view: new ol.View({\n        constrainResolution: true,\n        center: ol.proj.fromLonLat([12.24476, 45.48295]),\n        zoom: 15\n      })\n    });\n    */\nvar styleJson = 'https://api.maptiler.com/maps/1462fcad-0433-489f-8da7-95a4543f5271/style.json?key=58vA8P4IZAl6z9EyXxMt';\nvar map = new ol.Map({\n    target: 'map',\n    view: new ol.View({\n      constrainResolution: true,\n      center: ol.proj.fromLonLat([12.53123, 45.46758]),\n      zoom: 19\n    })\n  });\nolms.apply(map, styleJson);\nsetTimeout(function () {\n    map.updateSize();\n}, 200);\n    </script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1410,"y":320,"wires":[[]]},{"id":"33fa3a8.a828bc6","type":"ui_template","z":"d23a9853.4eb138","group":"975ffe65.0c943","name":"Async_msg_indexer","order":4,"width":"9","height":"14","format":"<style>\n.dropdown{\n    background: #191919;\n    border: none;\n    color: #e5e5e5;\n}\n#Progress {\n  width: 10%;\n    background-color: #ddd;\n    position: absolute;\n    right: 0;\n    top: 5%;\n}\n\n#Bar {\n  width: 1%;\n  height: 5px;\n  background-color: red;\n  transition: all 0.3s;\n}\n\n/* --------  OVERLAY STYLE -- START*/\n.graph_overlay{\n  background: rgba(19,19,19,0.75);\n  position: absolute;\n  visibility: hidden;\n  width: 102%;\n  left: 5%;\n  display: table !important;\n}\n\n.values_overlay, .threshold_overlay{\n    display: flex !important;\n    height: fit-content !important;\n}\n\n.close{\n  color: #e5e5e5;\n  font-size: 2rem;\n  font-family: monospace;\n  right: 2%;\n  cursor:pointer;\n  position: absolute;\n  z-index: 10;\n}\n\n.overlay_label{\n  color: #e5e5e5;\n}\n.overlay_value{\n  color: #d9d9d9;\n}\n.overlay_tit{\n  color: lightblue;\n  text-align: center;\n  background: rgba(19,19,19,1);\n}\n.notify{\n  color: #f4e3d2\n}\n.notify_overlay, .threshold_overlay,.values_overlay{\n  width:100% !important;\n  height:10%;\n}\n.threshold_overlay{\n  top: 0;\n  margin-top: 0\n}\n.values_overlay{\n  margin-top: 10%;  \n}\n\n.max_threshold_overlay_text,.min_threshold_overlay_text{\n  color: white;\n}\n/* --------  OVERLAY STYLE --- END*/\n</style>\n<div>\n<div style=\"display:flex;margin-left:3%;justify-content: space-between;\">\n    <select class=\"dropdown\" id=\"smartwatch_ids\"></select>\n    <select class=\"dropdown collection\" id=\"smartwatch_times\" display=\"none\">\n        <option class=\"collection-item\" value=\"30\">30s</option>\n        <option class=\"collection-item\" value=\"60\">60s</option>\n        <option class=\"collection-item\" value=\"300\">5m</option>\n        <option class=\"collection-item\" value=\"600\">10m</option>\n        <option class=\"collection-item\" value=\"1800\">30m</option>\n        <option class=\"collection-item\" value=\"3600\">1h</option>\n    </select>\n    <select class=\"dropdown\" id=\"refresh_times\" name=\"persistent\" display=\"none\">\n        <option value=\"none\">no</option>\n        <option value=\"5\">20s</option>\n        <option value=\"60\">1m</option>\n        <option value=\"120\">2m</option>\n        <option value=\"300\">5m</option>\n    </select>\n    <!--<label for=\"persistent\">Persistent</label><br>-->\n    <button class=\"dropdown_button\" id=\"smartwatch_button\" type=\"button\">Click!</button>\n</div>\n<div id=\"Progress\">\n  <div id=\"Bar\"></div>\n</div>\n<div id=\"containerHsv0\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-heartbeat\" style=\"font-size:30px;color:#E74C3C;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">HEART RATE</p>\n</div>\n<!-- CONTAINER HEART GRAPH-->\n<div id=\"containerHeart\" style=\"width:100%\">\n    <canvas id=\"heartChart\"></canvas>\n    <!--OVERLAY HEART GRAPH -->\n    <div class=\"graph_overlay row\">\n        <span class=\"close\" onclick=\"hidePopUp(this.parentNode)\">x</span>\n        <p class=\"overlay_tit\"></p>\n        <div class=\"row values_overlay\">\n          <p class=\"col-sm-6 col-md-6 col-lg-6 overlay_label\"></p>\n          <p class=\"col-sm-6 col-md-6 col-lg-6 overlay_value\"></p>\n        </div>\n    </div>\n    <!-- /// -->\n</div>\n<div id=\"container_s_data\">\n<div id=\"containerHeartBeat\">\n    <div id=\"containerHeartVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n        <i class=\"fa fa-heart\" style=\"font-size:30px;color:#E74C3C;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n        <p id=\"heartText\"></p>\n        <a class=\"bps_text\" style=\"position: absolute;display: inline;width: 100%;\">ACTUAL BPS</a>\n    </div>\n</div>\n<div id=\"containerSound\">\n    <div id=\"containerSoundVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n        <i class=\"fa fa-headphones\" style=\"font-size:30px;color:#D35400;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n        <p id=\"soundText\"></p>\n        <a class=\"db_text\" style=\"position: absolute;display: inline;width: 100%;\">DECIBEL</a>\n    </div>\n</div>\n</div>\n<div id=\"containerHsv1\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-mountain\" style=\"font-size:30px;color:#009C41;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">ALTITUDE</p>\n</div>\n<div id=\"containerAltitude\" style=\"width:100%\">\n    <canvas id=\"altitudeChart\"></canvas>\n</div>\n<!-- container end -->\n</div>\n<script>\n\nvar select_dev = document.getElementById('smartwatch_ids');\nvar select_times = document.getElementById('smartwatch_times');\nvar ask_button = document.getElementById('smartwatch_button');\nvar persistent_SM = document.getElementById(\"refresh_times\");\n\nvar graph_to_zoom_HEART = document.getElementById(\"containerHeart\");\nvar select_to_scroll = document.getElementById(\"smartwatch_times\");\n\nvar id_query, h_query, repeat_val_SM, cyclic_request_sent = false;\nvar request_count = 0;\nvar scope_SMARTW = scope;\n\nvar chart_template_H;\nvar timer_socket;\n\nvar DATA_RANGE_INTERVAL = 30;\n\n//CHECK IF RELOADED TO CLEAR SENDING MSG INTERVALS\nif (performance.navigation.type == 1) {\n    clearInterval(timer_socket);\n    cyclic_request_sent = false;\n    console.info( \"This page is reloaded\" );\n} else {\n    console.info( \"Page loaded for first time\");\n}\n\nask_button.onclick = function()\n{\n    scope_SMARTW.send({\n        STORICALTIME: parseInt(h_query),\n        topic: \"SENDING STORICAL TIMING INFO TO GRAPH MANAGER\"\n    });\n    \n    if (cyclic_request_sent == true){\n        clearInterval(timer_socket);\n        cyclic_request_sent = false;\n    }\n    if(request_count > 0)\n    {\n        removeDataSet(myChart_HEART, 0);\n        removeDataSet(myChart_ALT, 0);\n    }\n    \n    id_query = select_dev.options[select_dev.selectedIndex].value;\n    h_query = select_times.options[select_times.selectedIndex].value;\n    repeat_val_SM = persistent_SM.options[persistent_SM.selectedIndex].value;\n    \n    var msg = {\n        DEVICE_ID: id_query,\n        TIMERANGE: parseInt(h_query)\n    }\n    console.log(\"sending message: \" + msg);\n    scope_SMARTW.send({\n        payload: msg,\n        topic: \"TEST HTTP REQUEST - SMARTWATCH\"\n    });\n    var repeat = false;\n    if (repeat_val_SM !== \"none\")\n    {\n        console.log(\"REPEAT VAL != NONE\")\n        repeat = true;\n        var msg_sock = {\n            DEVICE_ID: id_query,\n            TIMERANGE: DATA_RANGE_INTERVAL\n        }\n        if (repeat){\n            cyclic_request_sent = true;\n            timer_socket = setInterval(function(){\n                console.log(\"REPEATING EVERY: \"+repeat_val_SM+\" secs\")\n                scope_SMARTW.send({\n                    payload: msg_sock,\n                    topic: \"TEST SOCKET - SMARTWATCH\"\n                });\n            }, repeat_val_SM * 1000);\n        }\n        console.log(\"msg sent after: \"+ repeat_val_SM +\" seconds\");\n    } \n    if (repeat_val_SM === \"none\") {\n        repeat = false;\n        clearInterval(timer_socket);\n    }\n    request_count++;\n}\n\nvar pay_arr;\n\nscope_SMARTW.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined'){\n        console.log(msg.payload);\n        pay_arr = msg.payload;\n        for (var j = 0; j < pay_arr.length;j++){\n            console.log(\"smartwatch id: \"+pay_arr[j]);\n            populateDropDown(pay_arr[j], select_dev);\n        }\n    }\n})\n\nfunction removeDataSet(chart, index) {\n    chart.data.labels.length = 0;\n    chart.data.datasets[index].data.length = 0;\n    chart.update();\n    console.log(chart.config.data.datasets[index]);\n}\n\nfunction isChecked(checkbox) {\n    return checkbox.checked;\n}\n\nfunction populateDropDown(element, select){\n    var option = document.createElement(\"option\");\n    option.text = element;\n    option.value = element;\n    select.appendChild(option);\n}\n\nvar delta;\nvar zoom_in, zoom_out;\n\n\n/*\nUpdateGraphOnScroll(graph_to_zoom_HEART, myChart_HEART, 0);\n\nfunction UpdateGraphOnScroll(graph, chart, index){\n    \n    repeat_val_SM = persistent_SM.options[persistent_SM.selectedIndex].value;\n    id_query = select_dev.options[select_dev.selectedIndex].value;\n    \n    console.log(\"ok\");\n    graph.addEventListener(\"wheel\", event => {\n        delta = Math.sign(event.deltaY);\n        if (delta > 0){\n            zoom_in++;\n            zoom_out = 0;\n            if (zoom_in >= 10){\n                removeDataSet(chart, index);\n                prev_val = selectElement('smartwatch_times', delta);\n                var msg = {\n                    DEVICE_ID: id_query,\n                    TIMERANGE: parseInt(prev_val)\n                }\n                console.log(\"sending message while scrolling UP on graph: \" + msg);\n                scope_SMARTW.send({\n                    payload: msg,\n                    topic: \"TEST HTTP REQUEST ON SCROLL - SMARTWATCH\"\n                });\n                zoom_in = 0;\n            }\n        }\n        if (delta < 0){\n            zoom_out++;\n            zoom_in = 0;\n            if (zoom_out >= 10){\n                removeDataSet(chart, index);\n                next_val = selectElement('smartwatch_times', delta);\n                var msg = {\n                    DEVICE_ID: id_query,\n                    TIMERANGE: parseInt(next_val)\n                }\n                console.log(\"sending message while scrolling DOWN on graph: \" + msg);\n                scope_SMARTW.send({\n                    payload: msg,\n                    topic: \"TEST HTTP REQUEST ON SCROLL - SMARTWATCH\"\n                });\n                zoom_out = 0;\n            }\n        }\n        console.info(\"DIFF: \"+delta);\n        event.preventDefault();\n    });\n}\n*/\n/*\nfunction selectElement(id, delta) {    \n    let element = document.getElementById(id);\n    let value_to_select = select_times.options[select_times.selectedIndex].value;\n    if (delta > 0){\n        if (typeof select_times.options[select_times.selectedIndex - 1] !== \"undefined\"){\n            value_to_select = select_times.options[select_times.selectedIndex - 1].value;\n        }\n    }\n    if (delta < 0){\n        if (typeof select_times.options[select_times.selectedIndex + 1] !== \"undefined\"){\n            value_to_select = select_times.options[select_times.selectedIndex + 1].value;\n        }\n    }\n    return element.value = value_to_select;\n}*/\n\n\n/*\nselect_dev.onchange = function() {\n    var index = this.selectedIndex;\n    //var inputText = this.children[index].innerHTML.trim();\n    var inputText = this.children[index].value;\n    id_query = inputText;\n    dev_confirmed = true;\n    console.log(inputText + \" \" + dev_confirmed);\n}\n\nselect_times.onchange = function() {\n    var index = this.selectedIndex;\n    var inputText = this.children[index].value;\n    h_query = inputText;\n    h_confirmed = true;\n    console.log(inputText + \" \"+ h_confirmed);\n}\n*/\n\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1340,"y":300,"wires":[["25f4fb15.ef6b94","b72bad69.7c3a4"]]},{"id":"31d42650.61555a","type":"ui_template","z":"a9ee9574.9c30e8","group":"2180bd8b.3f7ba2","name":"Async_msg_indexer","order":0,"width":"9","height":"14","format":"<style>\n    #containerFlames, #containerGas{\n        width: 12%;\n        float: left;\n        height: 5.7rem;\n        background: #191919;\n        border-radius: 17px;\n        text-align: center;\n        margin-right: 2%;\n        position: relative;\n        box-shadow: 0 0 5px rgba(0,212,255,0.2), 0 0 3px rgba(0,212,255,0.2), 0 0 1px rgba(0,212,255,0.2), 0 0 10px rgba(121,9,115,0.1), 0 0 21px rgba(121,9,115,0.1);\n        margin-left: 2%\n    }\n    #containerFieldTemp, #containerFieldHum{\n        width: 27.5%;\n        float: left;\n        height: 5.7rem;\n        background: #191919;\n        border-radius: 17px;\n        text-align: center;\n        margin-right: 2%;\n        position: relative;\n        box-shadow: 0 0 5px rgba(0,212,255,0.2), 0 0 3px rgba(0,212,255,0.2), 0 0 1px rgba(0,212,255,0.2), 0 0 10px rgba(121,9,115,0.1), 0 0 21px rgba(121,9,115,0.1);\n        margin-left: 2%\n    }\n    #containerFlamesIcon, #containerGasIcon{\n    margin-top: 2vh;\n    display: block;\n    }\n</style>\n<div style=\"display:flex;margin-left:3%;justify-content:space-around\">\n    <select class=\"dropdown\" id=\"fieldsensors_ids_FS\"></select>\n    <select class=\"dropdown\" id=\"fieldsensors_times_FS\" display=\"none\">\n        <option value=\"30\">30s</option>\n        <option value=\"60\">60s</option>\n        <option value=\"300\">5m</option>\n        <option value=\"600\">10m</option>\n        <option value=\"1800\">30m</option>\n        <option value=\"3600\">1h</option>\n    </select>\n    <select class=\"dropdown\" id=\"refresh_times_FS\" name=\"persistent\" display=\"none\">\n        <option value=\"none\">no</option>\n        <option value=\"20\">20s</option>\n        <option value=\"60\">1m</option>\n        <option value=\"120\">2m</option>\n        <option value=\"300\">5m</option>\n    </select>\n    <button class=\"dropdown\" id=\"fieldsensors_button\" type=\"button\">Click!</button>\n</div>\n<div id=\"containerHsv1\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#E74C3C;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">TEMPERATURE</p>\n</div>\n<div id=\"containerTempField\">\n    <canvas id=\"fieldTempChart\"></canvas>\n</div>\n<div id=\"container_s_data\">\n    <div id=\"containerFlames\">\n        <div id=\"containerFlamesIcon\" style=\"width: 100%;position: relative\">\n            <i class=\"fa fa-fire\" style=\"font-size:50px;color:#e5e5e5;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n        </div>\n    </div>\n    <div id=\"containerFieldTemp\">\n        <div id=\"containerFieldTempVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#E5E5E5;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"fieldTempText\">0</p>\n            <a class=\"fieldTemp_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">RPM</a>\n        </div>\n    </div>\n    <div id=\"containerFieldHum\">\n        <div id=\"containerHumVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-tint\" style=\"font-size:30px;color:#009C41;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"humText\">0</p>\n            <a class=\"hum_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">°C</a>\n        </div>\n    </div>\n    <div id=\"containerGas\">\n        <div id=\"containerGasIcon\" style=\"width: 100%;position: relative;\">\n            <i class=\"fa fa-smog\" style=\"font-size: 37px;color: #e5e5e5;margin-right: 2%;width: 75%;text-align: right;margin-top: 18%;\"></i>\n        </div>\n    </div>\n</div>\n<div id=\"containerHsv1\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-tint\" style=\"font-size:30px;color:#E74C3C;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">HUMIDITY</p>\n</div>\n<div id=\"containerHumField\">\n    <canvas id=\"fieldHumChart\"></canvas>\n</div>\n\n\n<script>\n\nvar select_dev_field_FS = document.getElementById('fieldsensors_ids_FS');\nvar select_times_field = document.getElementById('fieldsensors_times_FS');\nvar ask_button_field = document.getElementById('fieldsensors_button');\nvar persistent = document.getElementById(\"refresh_times_FS\");\n\nvar id_query, h_query, pay_arr;\nvar scope_FIELD = scope;\n\nask_button_field.onclick = function()\n{\n    id_query = select_dev_field.options[select_dev.selectedIndex].value;\n    h_query = select_times_field.options[select_times.selectedIndex].value;\n    repeat_val = persistent.options[persistent.selectedIndex].value;\n    \n    var msg = {\n        DEVICE_ID: id_query,\n        TIMERANGE: h_query\n    }\n    console.log(\"sending message: \" + msg);\n    scope_FIELD.send({\n        payload: msg,\n        topic: \"TEST HTTP REQUEST - fieldSensors\"\n    });\n    \n    var repeat = false;\n    if (repeat_val !== \"none\")\n    {\n        repeat = true;\n        var msg_sock = {\n            DEVICE_ID: id_query,\n            TIMERANGE: DATA_RANGE_INTERVAL\n        }\n        if (repeat){\n            timer_socket = setInterval(function(){\n                scope_SMARTW.send({\n                    payload: msg_sock,\n                    topic: \"TEST SOCKET - fieldSensors\"\n                });\n            }, repeat_val * 1000);\n        }\n        console.log(\"msg sent after: \"+ repeat_val +\" seconds\");\n    } \n    if (repeat_val === \"none\") {\n        repeat = false;\n        clearInterval(timer_socket);\n    }\n}\n\nscope_FIELD.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined' && msg.topic == \"field\"){\n        console.log(msg.payload);\n        pay_arr = msg.payload;\n        for (var j = 0; j < pay_arr.length;j++){\n            console.log(\"fieldsensor id: \"+pay_arr[j]);\n            populateDropDown(pay_arr[j], select_dev_field_FS);\n        }\n    }\n})\n\nfunction populateDropDown(element, select){\n    var option = document.createElement(\"option\");\n    option.text = element;\n    option.value = element;\n    select.appendChild(option);\n}\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1240,"y":200,"wires":[["6ccd820c.95e01c"]]},{"id":"54295cce.315754","type":"inject","z":"924d3c1b.880c2","name":"Machine_2","topic":"","payload":"[{\"DEVICE_ID\":\"DEVICE TEST\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"roundPerMinute\",\"VALUE\":\"10\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"piecesCount\",\"VALUE\":\"12\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"m\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"machineTemperature\",\"VALUE\":\"15\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"LT\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["e500ed02.1649e"]]},{"id":"e500ed02.1649e","type":"function","z":"924d3c1b.880c2","name":"","func":"/*\nfor (var i in msg.payload) {\n  msg.payload[i].TIMESTAMP = Math.floor(Math.random() * 10);\n}\n*/\n\nlet r = Math.random().toString(36).substring(7);\nmsg.payload.DEVICE_ID = r;\nvar r1 = Math.floor(Math.random() * 10);\nmsg.payload.TIMESTAMP = Math.floor(Math.random() * 10);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["b3a58248.86349","e6231951.f1e7e8"]]},{"id":"72b9c987.ad87f8","type":"inject","z":"924d3c1b.880c2","name":"Smartwatch","topic":"","payload":"[{\"DEVICE_ID\":\"Smartwatch\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"barometer\",\"VALUE\":\"15\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"heartrate\",\"VALUE\":\"90\",\"MIN_THRESHOLD\":\"80\",\"MAX_THRESHOLD\":\"150\",\"UNIT_OF_MEASUREMENT\":\"bps\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"decibel\",\"VALUE\":\"50\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"dB\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[{\"TYPE\":\"event\",\"VALUE\":\"hi i'm an event!\",\"PRIORITY\":\"2\",\"ROLE\":\"operator\",\"TEXT_COLOR\":\"\",\"BACKROUND_COLOR\":\"\",\"VIBRATE\":\"\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["18f392b.032a26d"]]},{"id":"b3a58248.86349","type":"websocket out","z":"924d3c1b.880c2","name":"","server":"","client":"45a2d33b.a2228c","x":740,"y":440,"wires":[]},{"id":"1bcc0db6.8481a2","type":"inject","z":"924d3c1b.880c2","name":"Machine_1","topic":"","payload":"[{\"DEVICE_ID\":\"DEVICE TEST\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"roundPerMinute\",\"VALUE\":\"15\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"piecesCount\",\"VALUE\":\"11\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"m\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"machineTemperature\",\"VALUE\":\"30\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"LT\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["e500ed02.1649e"]]},{"id":"8f41224e.c2b1e","type":"websocket out","z":"924d3c1b.880c2","name":"","server":"36bade13.499992","client":"","x":690,"y":560,"wires":[]},{"id":"18f392b.032a26d","type":"function","z":"924d3c1b.880c2","name":"","func":"/*\nfor (var i in msg.payload) {\n  msg.payload[i].TIMESTAMP = Math.floor(Math.random() * 10);\n}\n*/\n\nlet r = Math.random().toString(36).substring(7);\nmsg.payload.DEVICE_ID = r;\nvar r1 = Math.floor(Math.random() * 10);\n\nmsg.payload.TIMESTAMP = Math.floor(Math.random() * 10);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["8f41224e.c2b1e"]]},{"id":"e4525ed5.53b34","type":"inject","z":"924d3c1b.880c2","name":"Smartwatch","topic":"","payload":"[{\"DEVICE_ID\":\"Smartwatch\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"barometer\",\"VALUE\":\"55\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"heartrate\",\"VALUE\":\"200\",\"MIN_THRESHOLD\":\"80\",\"MAX_THRESHOLD\":\"150\",\"UNIT_OF_MEASUREMENT\":\"bps\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"decibel\",\"VALUE\":\"30\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"dB\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[{\"TYPE\":\"event\",\"VALUE\":\"hi i'm the other event!\",\"PRIORITY\":\"2\",\"ROLE\":\"operator\",\"TEXT_COLOR\":\"\",\"BACKROUND_COLOR\":\"\",\"VIBRATE\":\"\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["18f392b.032a26d"]]},{"id":"b9d38ab8.636b98","type":"inject","z":"924d3c1b.880c2","name":"Smartwatch","topic":"","payload":"[{\"DEVICE_ID\":\"Smartwatch\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"barometer\",\"VALUE\":\"15\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"heartrate\",\"VALUE\":\"10\",\"MIN_THRESHOLD\":\"80\",\"MAX_THRESHOLD\":\"150\",\"UNIT_OF_MEASUREMENT\":\"bps\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"decibel\",\"VALUE\":\"10\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"dB\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[{\"TYPE\":\"event\",\"VALUE\":\"hi i'm an event!\",\"PRIORITY\":\"2\",\"ROLE\":\"operator\",\"TEXT_COLOR\":\"\",\"BACKROUND_COLOR\":\"\",\"VIBRATE\":\"\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["18f392b.032a26d"]]},{"id":"610af679.b50ef8","type":"debug","z":"a8f1e1a6.a2b0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":360,"wires":[]},{"id":"e8923060.adaf7","type":"inject","z":"924d3c1b.880c2","name":"Machine_2","topic":"","payload":"[{\"DEVICE_ID\":\"DEVICE TEST\",\"SOURCE\":\"localhost_2\",\"POSITION\":{\"LATITUDE\":\"0.0.111\",\"LONGITUDE\":\"1.1.000\"},\"TIMESTAMP\":\"20200221\",\"SIGNALS\":[{\"TYPE\":\"roundPerMinute\",\"VALUE\":\"10\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"cm\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"piecesCount\",\"VALUE\":\"50\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"m\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"},{\"TYPE\":\"machineTemperature\",\"VALUE\":\"15\",\"MIN_THRESHOLD\":\"NULL\",\"MAX_THRESHOLD\":\"NULL\",\"UNIT_OF_MEASUREMENT\":\"LT\",\"SIGNAL_TIMESTAMP\":\"2020022110000\"}],\"NOTIFICATIONS\":[]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["e500ed02.1649e"]]},{"id":"1321d336.5f81dd","type":"ui_toast","z":"a8f1e1a6.a2b0a","d":true,"position":"top right","displayTime":"10000","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1980,"y":440,"wires":[]},{"id":"170f77da.62c328","type":"websocket in","z":"a8f1e1a6.a2b0a","name":"","server":"6bac71e0.05c5c","client":"","x":160,"y":280,"wires":[[]]},{"id":"90080f28.bd4b9","type":"http request","z":"c1f70b31.931348","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDataPack","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":260,"wires":[["cccc004c.797cf"]]},{"id":"a2fa7ef6.2b6a3","type":"debug","z":"c1f70b31.931348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":260,"wires":[]},{"id":"cccc004c.797cf","type":"json","z":"c1f70b31.931348","name":"","property":"payload","action":"","pretty":false,"x":970,"y":260,"wires":[["a2fa7ef6.2b6a3"]]},{"id":"82033bd8.e8e158","type":"template","z":"a8f1e1a6.a2b0a","name":"Dropdown css","field":"style_dropdown","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/* Dropdown Button */\n.dropbtn {\n  background-color: #3498DB;\n  color: white;\n  padding: 16px;\n  font-size: 16px;\n  border: none;\n  cursor: pointer;\n}\n\n/* Dropdown button on hover & focus */\n.dropbtn:hover, .dropbtn:focus {\n  background-color: #2980B9;\n}\n\n/* The container <div> - needed to position the dropdown content */\n.dropdown {\n  position: relative;\n  display: inline-block;\n}\n\n/* Dropdown Content (Hidden by Default) */\n.dropdown-content {\n  display: none;\n  position: absolute;\n  background-color: #f1f1f1;\n  min-width: 160px;\n  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n  z-index: 1;\n}\n\n/* Links inside the dropdown */\n.dropdown-content a {\n  color: black;\n  padding: 12px 16px;\n  text-decoration: none;\n  display: block;\n}\n\n/* Change color of dropdown links on hover */\n.dropdown-content a:hover {background-color: #ddd}\n\n/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */\n.show {display:block;}","output":"str","x":1040,"y":140,"wires":[["a0237bec.bda978"]]},{"id":"e6231951.f1e7e8","type":"debug","z":"924d3c1b.880c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"42ec2c4e.558da4","type":"debug","z":"a8f1e1a6.a2b0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":120,"wires":[]},{"id":"b030160.8dc95e8","type":"websocket in","z":"a8f1e1a6.a2b0a","name":"","server":"49943a18.f69c44","client":"","x":150,"y":400,"wires":[[]]},{"id":"7acbe8b5.291ae8","type":"link in","z":"c1f70b31.931348","name":"","links":[],"x":155,"y":260,"wires":[["512de88b.06ad68"]]},{"id":"6f11f67d.176778","type":"debug","z":"c1f70b31.931348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":200,"wires":[]},{"id":"59896a99.4d73d4","type":"http request","z":"d23a9853.4eb138","name":"GET graph data based on selected input","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDeviceID","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":300,"wires":[["8a2909fa.7aa1e8"]]},{"id":"8e9bc770.77e5c8","type":"function","z":"d23a9853.4eb138","name":"Set Dropdown deviceList","func":"var data = msg.payload;\nvar titles = [];\nfor (var i = 0 ; i < data.length;i++){\n    titles[i] = data[i].distinct;\n}\nmsg.payload = titles;\nmsg.hasSmartwatchEnded = true;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["7dd03147.9466"]]},{"id":"f9b0905d.4afba","type":"inject","z":"d23a9853.4eb138","name":"","topic":"","payload":"{\"SOURCE\":\"SMARTWATCH\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"5","x":230,"y":300,"wires":[["59896a99.4d73d4"]]},{"id":"8a2909fa.7aa1e8","type":"json","z":"d23a9853.4eb138","name":"","property":"payload","action":"","pretty":false,"x":810,"y":300,"wires":[["8e9bc770.77e5c8"]]},{"id":"5a2a2054.0cd61","type":"http request","z":"a9ee9574.9c30e8","name":"GET graph data based on selected input","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDeviceID","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":200,"wires":[["d05d66c8.d95758"]]},{"id":"70528f41.334b6","type":"function","z":"a9ee9574.9c30e8","name":"Set Dropdown List","func":"var data = msg.payload;\nvar titles = [];\nfor (var i = 0 ; i < data.length;i++){\n    titles[i] = data[i].distinct;\n}\nmsg.payload = titles;\nmsg.topic = \"field\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["31d42650.61555a"]]},{"id":"c45b69dc.834c68","type":"inject","z":"a9ee9574.9c30e8","name":"{\"SOURCE\":\"fieldSensors\"}","topic":"","payload":"{\"SOURCE\":\"fieldSensors\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":220,"y":200,"wires":[["5a2a2054.0cd61"]]},{"id":"d05d66c8.d95758","type":"json","z":"a9ee9574.9c30e8","name":"","property":"payload","action":"","pretty":false,"x":790,"y":200,"wires":[["70528f41.334b6"]]},{"id":"512de88b.06ad68","type":"switch","z":"c1f70b31.931348","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"TEST HTTP","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":260,"wires":[["90080f28.bd4b9","6f11f67d.176778"]]},{"id":"40e47f83.e87e5","type":"http request","z":"935e8b24.f0a018","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDataPack","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":220,"wires":[["c41fb3ab.e838f"]]},{"id":"c41fb3ab.e838f","type":"json","z":"935e8b24.f0a018","name":"","property":"payload","action":"","pretty":false,"x":650,"y":220,"wires":[["3ef3d959.156456"]]},{"id":"9930bc3b.fd33f","type":"switch","z":"935e8b24.f0a018","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SMARTWATCH","vt":"str"},{"t":"cont","v":"fieldSensors","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":320,"wires":[["40e47f83.e87e5"],["87893928.df4d38"]]},{"id":"364ea0d7.8cb54","type":"link in","z":"935e8b24.f0a018","name":"Req_out_SMART","links":["25f4fb15.ef6b94"],"x":55,"y":200,"wires":[["9930bc3b.fd33f"]]},{"id":"25f4fb15.ef6b94","type":"link out","z":"d23a9853.4eb138","name":"Smartwatch_out_req","links":["364ea0d7.8cb54"],"x":1515,"y":300,"wires":[]},{"id":"87893928.df4d38","type":"http request","z":"935e8b24.f0a018","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDataPack","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":320,"wires":[["7398d89.4be9e28"]]},{"id":"7398d89.4be9e28","type":"json","z":"935e8b24.f0a018","name":"","property":"payload","action":"","pretty":false,"x":650,"y":320,"wires":[["4452b693.573838","3cd9d671.97d3da"]]},{"id":"4b09cfd1.18e86","type":"link out","z":"935e8b24.f0a018","name":"Req_in_SMART","links":["905aa1b9.45313"],"x":1035,"y":220,"wires":[]},{"id":"905aa1b9.45313","type":"link in","z":"d23a9853.4eb138","name":"Smartwatch_in_req","links":["4b09cfd1.18e86"],"x":95,"y":420,"wires":[["3f964b67.f13ce4"]]},{"id":"ec40926e.3ae28","type":"comment","z":"935e8b24.f0a018","name":"SMARTWATCH","info":"","x":480,"y":180,"wires":[]},{"id":"868c73f5.a66fb","type":"comment","z":"935e8b24.f0a018","name":"fieldSensors","info":"","x":470,"y":280,"wires":[]},{"id":"6ccd820c.95e01c","type":"link out","z":"a9ee9574.9c30e8","name":"fieldSensors_OUT_REQ","links":["92806cf1.f14ff"],"x":1395,"y":200,"wires":[]},{"id":"92806cf1.f14ff","type":"link in","z":"935e8b24.f0a018","name":"Fieldsensors_out_req","links":["6ccd820c.95e01c"],"x":55,"y":320,"wires":[["9930bc3b.fd33f"]]},{"id":"425c1d78.e0bce4","type":"link in","z":"a9ee9574.9c30e8","name":"FieldSensors_in_req","links":["41ee0323.22479c"],"x":95,"y":320,"wires":[["2302adfd.701912"]]},{"id":"41ee0323.22479c","type":"link out","z":"935e8b24.f0a018","name":"Req_in_FIELD","links":["425c1d78.e0bce4","5afefb3.4c5bc04"],"x":1035,"y":320,"wires":[]},{"id":"b72bad69.7c3a4","type":"ui_template","z":"d23a9853.4eb138","group":"975ffe65.0c943","name":"realTime_msg_indexer & refresh","order":4,"width":0,"height":0,"format":"<script>\nvar select_times_storical = document.getElementById('smartwatch_times');\nvar text_heart = document.getElementById(\"heartText\");\nvar text_sound = document.getElementById(\"soundText\");\nvar graph_to_zoom_HEART = document.getElementById(\"containerHeart\");\nvar graph_to_zoom_ALT = document.getElementById(\"containerAltitude\");\nvar count_heart = 0;\nvar count_alt = 0;\nvar chart_h;\nvar scope_SM = scope;\nvar max_point_per_graph;\nscope_SM.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined'){\n        max_point_per_graph = select_times_storical.options[select_times.selectedIndex].value;\n        console.log(max_point_per_graph);\n        console.log(\"msg received !== undefined\");\n\n        //Setting timestamp\n        var timestamp;\n        \n        //Setting value\n        var value = msg.sensor_value;\n        \n        //Getting realTime\n        var isRT = msg.isRT;\n        \n        if (typeof msg.timestamp !== 'undefined')\n        {\n            var t1 = msg.timestamp;\n            var t = new Date(t1).toString();\n            //timestamp = new Date(t1).getMinutes();\n            //t = timestamp.toString();\n            //console.log(t);\n            var hours = t.substring(16,18);\n            var minutes = t.substring(19,21);\n            var seconds = t.substring(22,24);\n            timestamp = seconds;\n        }\n        \n        //Switching topic\n        switch(msg.topic){\n            case \"barometer\":\n                //Setting type\n                type=\"altitude\";\n                \n                //value floor\n                var val = Math.floor(parseInt(value, 10));\n                console.log(\"altitude: \"+val);\n                //Graph routine\n                if (isRT){\n                    \n                }else{\n                    refreshGraphRoutineByType(myChart_ALT,timestamp,val,type,count_alt++,max_point_per_graph);\n                    //Scroll(graph_to_zoom_ALT, getChartLength(myChart_ALT), myChart_ALT);\n                }\n                break;\n            case \"heartrate\":\n                //Setting type\n                type=\"heartrate\";\n                console.log(\"bpm: \"+value);\n                //Setting thresholds\n                if (msg.min != null && msg.max != null)\n                {\n                    min = msg.min;\n                    max = msg.max;\n                    console.log(\"bpm min t: \"+min+\" max t: \"+max);\n                }\n                //Graph routine\n                if (isRT){\n                    realTimeTextRoutine(text_heart, value, scope_SM);\n                } else {\n                    refreshGraphRoutineByType(myChart_HEART,timestamp,value,type,count_heart++, max_point_per_graph);\n                }\n            \tbreak;\n            case \"decibel\":\n                var val = Math.floor(parseInt(value, 10));\n                console.log(\"decibel: \"+val);\n                //RealTime Events\n                if (isRT){\n                    realTimeTextRoutine(text_sound, val, scope_SM);\n                }\n            \tbreak;\n        }\n    }\n})\n\nfunction realTimeTextRoutine(textNode, value, node){\n    textNode.innerHTML = value;\n}\n\n\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1650,"y":420,"wires":[[]]},{"id":"3f964b67.f13ce4","type":"function","z":"d23a9853.4eb138","name":"msg Parser","func":"let data = msg.payload;\nlet realtime = msg.REAL_TIME;\nvar cont = context;\nvar t;\nvar sv;\nvar ts;\nvar final_msg;\nvar type, value, priority, role, min_threshold, max_threshold;\nvar msg_counter = 0;\nif (realtime){\n    t = data.SIGNALS[0].TYPE;\n    sv = data.SIGNALS[0].VALUE;\n    ts = data.SIGNALS[0].SIGNAL_TIMESTAMP;\n    final_msg = \n    {\n        isRT: realtime,\n        timestamp: ts,\n        sensor_value: sv,\n        topic: t\n    };\n    node.send(final_msg);\n} else {\n    for (var i = 0; i < data.length; i++){\n        for (var h= 0; h < data[i].SIGNALS.length;h++){\n            t = data[i].SIGNALS[h].TYPE;\n            sv = data[i].SIGNALS[h].VALUE;\n            ts = data[i].SIGNALS[h].SIGNAL_TIMESTAMP;\n            if (data[i].SIGNALS[h].MIN_THRESHOLD != \"NULL\" && data[i].SIGNALS[h].MAX_THRESHOLD != \"NULL\"){\n                min_threshold = data[i].SIGNALS[h].MIN_THRESHOLD;\n                max_threshold = data[i].SIGNALS[h].MAX_THRESHOLD;\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    min: min_threshold,\n                    max: max_threshold,\n                    topic: t\n                };\n            } else {\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    topic: t\n                }\n            }\n            node.send(final_msg);\n            msg_counter++;\n        }\n        if (data[i].NOTIFICATIONS.length > 0){\n            for (var j = 0; j < data[i].NOTIFICATIONS.length;j++){\n                type = data[i].NOTIFICATIONS[j].TYPE;\n                value = data[i].NOTIFICATIONS[j].VALUE;\n                priority = data[i].NOTIFICATIONS[j].PRIORITY;\n                role = data[i].NOTIFICATIONS[j].ROLE;\n                node.send(\n                    {\n                        notif_info:[{\n                            notify_value: value,\n                            notify_type: type,\n                            notify_priority: priority,\n                            notfiy_role: role\n                        }],\n                        topic: \"notification\"\n                    }\n                )\n            }\n        }\n    }\n}\n\nnode.send({msg_count: msg_counter});\n\n","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["ee6c8387.59c56"]]},{"id":"3cd9d671.97d3da","type":"debug","z":"935e8b24.f0a018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":380,"wires":[]},{"id":"7b4b76f0.8e8918","type":"websocket in","z":"d23a9853.4eb138","name":"","server":"d631248.809e5d8","client":"","x":200,"y":500,"wires":[["207ec4d0.b8106c"]]},{"id":"207ec4d0.b8106c","type":"json","z":"d23a9853.4eb138","name":"","property":"payload","action":"","pretty":false,"x":410,"y":500,"wires":[["8aae81a3.ab8d9"]]},{"id":"8aae81a3.ab8d9","type":"change","z":"d23a9853.4eb138","name":"REAL_TIME == TRUE","rules":[{"t":"set","p":"REAL_TIME","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":500,"wires":[[]]},{"id":"a1351018.28cb5","type":"comment","z":"d23a9853.4eb138","name":"PATH PER STORICO","info":"","x":180,"y":260,"wires":[]},{"id":"33ecac31.ba6414","type":"comment","z":"d23a9853.4eb138","name":"PATH REAL TIME","info":"","x":170,"y":380,"wires":[]},{"id":"3ef3d959.156456","type":"change","z":"935e8b24.f0a018","name":"REAL_TIME == false","rules":[{"t":"set","p":"REAL_TIME","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[["4b09cfd1.18e86"]]},{"id":"4452b693.573838","type":"change","z":"935e8b24.f0a018","name":"REAL_TIME == false","rules":[{"t":"set","p":"REAL_TIME","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["41ee0323.22479c"]]},{"id":"8adc0fe1.6fdec","type":"inject","z":"c9ed46f.56a75b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":260,"wires":[["16df8859.5e8958"]]},{"id":"c4acc214.7f8b4","type":"websocket out","z":"c9ed46f.56a75b8","d":true,"name":"","server":"","client":"baf9ae75.3a2cb","x":690,"y":260,"wires":[]},{"id":"19e78cb0.14e513","type":"ui_template","z":"a9ee9574.9c30e8","group":"2180bd8b.3f7ba2","name":"realTime_msg_indexer & refresh","order":4,"width":0,"height":0,"format":"<script>\nvar text_temp = document.getElementById(\"fieldTempText\");\nvar text_hum = document.getElementById(\"humText\");\n\ncount_temp = 0;\ncount_hum = 0;\n\nvar scope_FS = scope;\n\nscope_FS.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined'){\n        console.log(\"msg received !== undefined\");\n\n        //Setting timestamp\n        var timestamp;\n        \n        //Setting value\n        var value = msg.sensor_value;\n        \n        //Getting realTime\n        var isRT = msg.isRT;\n        \n        if (typeof msg.timestamp !== 'undefined')\n        {\n            var t1 = msg.timestamp;\n            //console.log(t1);\n            /*\n            var hours = t.substring(16,18);\n            var minutes = t.substring(19,21);\n            var seconds = t.substring(22,24);\n            */\n            timestamp = t1;\n        }\n        \n        //Switching topic\n        switch(msg.topic){\n            case \"flame\":\n                //Setting type\n                type=\"flame\";\n                break;\n                \n            case \"gas\":\n                //Setting type\n                type=\"gas\";\n                break;\n                \n            case \"temperature\":\n                //Setting type\n                type=\"temperature\";\n                \n                //Graph routine\n                if (isRT){\n                    realTimeTextRoutine(text_hum, value, scope_SM);\n                } else {\n                    refreshGraphRoutineByType(myChart_HUM,timestamp,value,type,count_temp);\n                }\n                break;\n                \n            case \"humidity\":\n                //Setting type\n                type=\"humidity\";\n\n                //Graph routine\n                if (isRT){\n                    realTimeTextRoutine(text_temp, value, scope_SM);\n                } else {\n                    refreshGraphRoutineByType(myChart_TEMP,timestamp,value,type,count_hum);\n                }\n            \tbreak;\n        }\n        //addData(myChart_HEART,seconds,value,count_heart++, type);\n    }\n})\n\n\nfunction realTimeTextRoutine(textNode, value, node){\n    textNode.innerHTML = value;\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1110,"y":320,"wires":[[]]},{"id":"2302adfd.701912","type":"function","z":"a9ee9574.9c30e8","name":"msg Parser","func":"let data = msg.payload;\nlet realtime = msg.REAL_TIME;\nvar cont = context;\nvar t;\nvar sv;\nvar ts;\nvar final_msg;\nvar type, value, priority, role, min_threshold, max_threshold;\nif (realtime){\n    t = data.SIGNALS[0].TYPE;\n    sv = data.SIGNALS[0].VALUE;\n    ts = data.SIGNALS[0].SIGNAL_TIMESTAMP;\n    final_msg = \n    {\n        isRT: realtime,\n        timestamp: ts,\n        sensor_value: sv,\n        topic: t\n    };\n    node.send(final_msg);\n} else {\n    for (var i = 0; i < data.length; i++){\n        for (var h= 0; h < data[i].SIGNALS.length;h++){\n            t = data[i].SIGNALS[h].TYPE;\n            sv = data[i].SIGNALS[h].VALUE;\n            ts = data[i].SIGNALS[h].SIGNAL_TIMESTAMP;\n            if (data[i].SIGNALS[h].MIN_THRESHOLD != \"NULL\" && data[i].SIGNALS[h].MAX_THRESHOLD != \"NULL\"){\n                min_threshold = data[i].SIGNALS[h].MIN_THRESHOLD;\n                max_threshold = data[i].SIGNALS[h].MAX_THRESHOLD;\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    min: min_threshold,\n                    max: max_threshold,\n                    topic: t\n                };\n            } else {\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    topic: t\n                }\n            }\n            node.send(final_msg);\n        }\n        if (data[i].NOTIFICATIONS.length > 0){\n            for (var j = 0; j < data[i].NOTIFICATIONS.length;j++){\n                type = data[i].NOTIFICATIONS[j].TYPE;\n                value = data[i].NOTIFICATIONS[j].VALUE;\n                priority = data[i].NOTIFICATIONS[j].PRIORITY;\n                role = data[i].NOTIFICATIONS[j].ROLE;\n                node.send(\n                    {\n                        notif_info:[{\n                            notify_value: value,\n                            notify_type: type,\n                            notify_priority: priority,\n                            notfiy_role: role\n                        }],\n                        topic: \"notification\"\n                    }\n                )\n            }\n        }\n    }\n}\n\n","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["19e78cb0.14e513"]]},{"id":"16df8859.5e8958","type":"function","z":"c9ed46f.56a75b8","name":"","func":"var date = new Date();\n\nmsg.payload = {\n    DEVICE_ID: \"RaspberryPi_field\",\n    SOURCE: \"fieldSensors\",\n    POSITION: null,\n    TIMESTAMP: date,\n    SIGNALS: [\n        {\n            TYPE: \"flame\",\n            VALUE: true,\n            MIN_THRESHOLD: null,\n            MAX_THRESHOLD: null,\n            UNIT_OF_MEASUREMENT: \"cm\",\n            SIGNAL_TIMESTAMP: date\n        },\n        {\n            TYPE: \"gas\",\n            VALUE: false,\n            MIN_THRESHOLD: null,\n            MAX_THRESHOLD: null,\n            UNIT_OF_MEASUREMENT: \"m\",\n            SIGNAL_TIMESTAMP: date\n        },\n        {\n            TYPE: \"humidity\",\n            VALUE: \"30\",\n            MIN_THRESHOLD: null,\n            MAX_THRESHOLD: null,\n            UNIT_OF_MEASUREMENT: \"LT\",\n            SIGNAL_TIMESTAMP: date\n        }\n    ],\n    NOTIFICATIONS: []\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["d706e33.768322"]]},{"id":"24b8a423.a67e2c","type":"websocket in","z":"a9ee9574.9c30e8","name":"","server":"6f7bb413.fa4e1c","client":"","x":200,"y":380,"wires":[["5f5d9edb.15f99"]]},{"id":"5f5d9edb.15f99","type":"json","z":"a9ee9574.9c30e8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["de5b434b.9e2d6"]]},{"id":"de5b434b.9e2d6","type":"change","z":"a9ee9574.9c30e8","name":"REAL_TIME == TRUE","rules":[{"t":"set","p":"REAL_TIME","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["2302adfd.701912"]]},{"id":"7b1ed3f4.b57ecc","type":"comment","z":"a9ee9574.9c30e8","name":"PATH REAL TIME","info":"","x":170,"y":280,"wires":[]},{"id":"b55c1220.7e443","type":"comment","z":"a9ee9574.9c30e8","name":"msg Management","info":"","x":1070,"y":280,"wires":[]},{"id":"f9f48c6f.7260d","type":"comment","z":"a9ee9574.9c30e8","name":"PATH PER STORICO","info":"","x":180,"y":160,"wires":[]},{"id":"7d209a63.9323e4","type":"comment","z":"a9ee9574.9c30e8","name":"Graph definition","info":"","x":1220,"y":160,"wires":[]},{"id":"4529d184.b5e22","type":"comment","z":"d23a9853.4eb138","name":"Graph definition","info":"","x":1320,"y":260,"wires":[]},{"id":"a5ae773b.a89318","type":"comment","z":"d23a9853.4eb138","name":"msg Management","info":"","x":1230,"y":380,"wires":[]},{"id":"26cec98d.6b6fe6","type":"comment","z":"a9ee9574.9c30e8","name":"|| FIELDSENSORS ||","info":"","x":730,"y":80,"wires":[]},{"id":"96d91a2b.dcf128","type":"comment","z":"d23a9853.4eb138","name":"|| SMARTWATCH ||","info":"","x":730,"y":180,"wires":[]},{"id":"d706e33.768322","type":"websocket out","z":"c9ed46f.56a75b8","name":"","server":"","client":"52a3e859.8bc6c8","x":690,"y":320,"wires":[]},{"id":"214b8042.4b481","type":"ui_template","z":"dd17dfa2.64ad1","group":"73ef4fa5.973a7","name":"Async_msg_indexer","order":0,"width":"9","height":"14","format":"<style>{{msg.style}}</style>\n<div style=\"display:flex;margin-left:3%;justify-content:space-around\">\n    <select class=\"dropdown\" id=\"fieldsensors_ids_MA\"></select>\n    <select class=\"dropdown\" id=\"fieldsensors_times_MA\" display=\"none\">\n        <option value=\"30\">30s</option>\n        <option value=\"60\">60s</option>\n        <option value=\"300\">5m</option>\n        <option value=\"600\">10m</option>\n        <option value=\"1800\">30m</option>\n        <option value=\"3600\">1h</option>\n    </select>\n    <select class=\"dropdown\" id=\"refresh_times_MA\" name=\"persistent\" display=\"none\">\n        <option value=\"none\">no</option>\n        <option value=\"20\">20s</option>\n        <option value=\"60\">1m</option>\n        <option value=\"120\">2m</option>\n        <option value=\"300\">5m</option>\n    </select>\n    <button class=\"dropdown\" id=\"machine_button\" type=\"button\">Click!</button>\n</div>\n<div id=\"containerRPMtit\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-tachometer\" style=\"font-size:30px;color:#E5E5E5;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">RPM</p>\n</div>\n<div id=\"containerMachine\">\n    <canvas id=\"machineChart\"></canvas>\n</div>\n<div id=\"container_s_data_mach\">\n    <div id=\"containerCounter\">\n        <div id=\"containerCounterVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-industry\" style=\"font-size:30px;color:lightblue;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"counterMachine\">0</p>\n            <a class=\"counter_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">PIECES COUNTER</a>\n        </div>\n    </div>\n    <div id=\"containerRPM\">\n        <div id=\"containerRPMVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-tachometer\" style=\"font-size:30px;color:#E5E5E5;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"rpmText\">0</p>\n            <a class=\"rpm_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">RPM</a>\n        </div>\n    </div>\n    <div id=\"containerTemperature\">\n        <div id=\"containerTempVal\" style=\"width: 100%;position: relative;display: flex;z-index: 10;\">\n            <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#009C41;margin-right: 2%;width: 75%;text-align: right;margin-top: 6%;\"></i>\n            <p id=\"tempText\">0</p>\n            <a class=\"temp_text\" style=\"position: absolute;display: inline;width: 100%;margin-top: 36%;\">°C</a>\n        </div>\n    </div>\n</div>\n<div id=\"containerTempMachineTit\" style=\"display:flex;margin-bottom: 2%;\">\n    <i class=\"fa fa-temperature-high\" style=\"font-size:30px;color:#009C41;margin-bottom: 2%\"></i>\n    <p style=\"display:inline;margin-left:3%\">TEMPERATURE (°C)</p>\n</div>\n<div id=\"containerTempMachine\">\n    <canvas id=\"tempChart\"></canvas>\n</div>\n\n\n\n<script>\n\nvar select_dev_field = document.getElementById('fieldsensors_ids_MA');\nvar select_times_field = document.getElementById('fieldsensors_times_MA');\nvar ask_button_field = document.getElementById('machine_button');\nvar persistent = document.getElementById('refresh_times_MA');\n\nvar id_query, h_query, pay_arr;\nvar scope_MACHINE = scope;\n\nask_button_field.onclick = function()\n{\n    id_query = select_dev_field.options[select_dev.selectedIndex].value;\n    h_query = select_times_field.options[select_times.selectedIndex].value;\n    repeat_val = persistent.options[persistent.selectedIndex].value;\n    \n    var msg = {\n        DEVICE_ID: id_query,\n        TIMERANGE: h_query\n    }\n    console.log(\"sending message: \" + msg);\n    scope_MACHINE.send({\n        payload: msg,\n        topic: \"TEST HTTP REQUEST - Machine\"\n    });\n    \n    var repeat = false;\n    if (repeat_val !== \"none\")\n    {\n        repeat = true;\n        var msg_sock = {\n            DEVICE_ID: id_query,\n            TIMERANGE: DATA_RANGE_INTERVAL\n        }\n        if (repeat){\n            timer_socket = setInterval(function(){\n                scope_MACHINE.send({\n                    payload: msg_sock,\n                    topic: \"TEST SOCKET - Machine\"\n                });\n            }, repeat_val * 1000);\n        }\n        console.log(\"msg sent after: \"+ repeat_val +\" seconds\");\n    } \n    if (repeat_val === \"none\") {\n        repeat = false;\n        clearInterval(timer_socket);\n    }\n}\n\nscope_MACHINE.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined' && msg.topic == \"machine\"){\n        console.log(msg.payload);\n        pay_arr = msg.payload;\n        for (var j = 0; j < pay_arr.length;j++){\n            console.log(\"machine id: \"+pay_arr[j]);\n            populateDropDown(pay_arr[j], select_dev_field);\n        }\n    }\n})\n\nfunction populateDropDown(element, select){\n    var option = document.createElement(\"option\");\n    option.text = element;\n    option.value = element;\n    select.appendChild(option);\n}\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1200,"y":180,"wires":[[]]},{"id":"4354ea0c.e8e0d4","type":"http request","z":"dd17dfa2.64ad1","name":"GET graph data based on selected input","method":"GET","ret":"txt","paytoqs":true,"url":"https://integr-platform.azurewebsites.net/v1/getDeviceID","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":180,"wires":[["5d1732cf.9319fc"]]},{"id":"bbfe81b4.07b74","type":"function","z":"dd17dfa2.64ad1","name":"Set Dropdown List","func":"var data = msg.payload;\nvar titles = [];\nfor (var i = 0 ; i < data.length;i++){\n    titles[i] = data[i].distinct;\n}\nmsg.payload = titles;\nmsg.topic = \"field\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["214b8042.4b481"]]},{"id":"8191b6f2.f5b0a8","type":"inject","z":"dd17dfa2.64ad1","d":true,"name":"{\"SOURCE\":\"Machine\"}","topic":"","payload":"{\"SOURCE\":\"Machine\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":170,"y":180,"wires":[["4354ea0c.e8e0d4"]]},{"id":"5d1732cf.9319fc","type":"json","z":"dd17dfa2.64ad1","name":"","property":"payload","action":"","pretty":false,"x":750,"y":180,"wires":[["bbfe81b4.07b74"]]},{"id":"5afefb3.4c5bc04","type":"link in","z":"dd17dfa2.64ad1","name":"FieldSensors_in_req","links":["41ee0323.22479c"],"x":55,"y":300,"wires":[["2dbdc519.7c894a"]]},{"id":"a44759fa.5b0a58","type":"ui_template","z":"dd17dfa2.64ad1","group":"73ef4fa5.973a7","name":"realTime_msg_indexer & refresh","order":4,"width":0,"height":0,"format":"<script>\nvar text_temp = document.getElementById(\"fieldTempText\");\nvar text_hum = document.getElementById(\"humText\");\n\nvar count_rpm = 0;\nvar count_mac_temp = 0;\nvar scope_MAC = scope;\n\nscope_MAC.$watch('msg', function(msg){\n    if (typeof msg !== 'undefined'){\n        console.log(\"msg received !== undefined\");\n\n        //Setting timestamp\n        var timestamp;\n        \n        //Setting value\n        var value = msg.sensor_value;\n        \n        //Getting realTime\n        var isRT = msg.isRT;\n        \n        if (typeof msg.timestamp !== 'undefined')\n        {\n            var t1 = msg.timestamp;\n            //console.log(t1);\n            /*\n            var hours = t.substring(16,18);\n            var minutes = t.substring(19,21);\n            var seconds = t.substring(22,24);\n            */\n            timestamp = t1;\n        }\n        \n        //Switching topic\n        switch(msg.topic){\n            case \"flame\":\n                //Setting type\n                type=\"flame\";\n                break;\n                \n            case \"gas\":\n                //Setting type\n                type=\"gas\";\n                break;\n                \n            case \"temperature\":\n                //Setting type\n                type=\"temperature\";\n                \n                //Graph routine\n                if (isRT){\n                    realTimeTextRoutine(text_hum, value, scope_SM);\n                } else {\n                    refreshGraphRoutineByType(myChart_HUM,timestamp,value,type,count_rpm);\n                }\n                break;\n                \n            case \"humidity\":\n                //Setting type\n                type=\"humidity\";\n\n                //Graph routine\n                if (isRT){\n                    realTimeTextRoutine(text_temp, value, scope_SM);\n                } else {\n                    refreshGraphRoutineByType(myChart_TEMP,timestamp,value,type,count_mac_temp);\n                }\n            \tbreak;\n        }\n        \n        \n\n        //addData(myChart_HEART,seconds,value,count_heart++, type);\n    }\n})\n\nfunction refreshGraphRoutineByType(graph,times, value, type,counter){\n    addData(graph,times,value,counter++, type);\n}\n\n\nfunction realTimeTextRoutine(textNode, value, node){\n    textNode.innerHTML = value;\n    /*\n    node.send({\n        payload: value,\n        topic: \"sound\"\n    });\n    */\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1070,"y":300,"wires":[[]]},{"id":"2dbdc519.7c894a","type":"function","z":"dd17dfa2.64ad1","name":"msg Parser","func":"let data = msg.payload;\nlet realtime = msg.REAL_TIME;\nvar cont = context;\nvar t;\nvar sv;\nvar ts;\nvar final_msg;\nvar type, value, priority, role, min_threshold, max_threshold;\nif (realtime){\n    t = data.SIGNALS[0].TYPE;\n    sv = data.SIGNALS[0].VALUE;\n    ts = data.SIGNALS[0].SIGNAL_TIMESTAMP;\n    final_msg = \n    {\n        isRT: realtime,\n        timestamp: ts,\n        sensor_value: sv,\n        topic: t\n    };\n    node.send(final_msg);\n} else {\n    for (var i = 0; i < data.length; i++){\n        for (var h= 0; h < data[i].SIGNALS.length;h++){\n            t = data[i].SIGNALS[h].TYPE;\n            sv = data[i].SIGNALS[h].VALUE;\n            ts = data[i].SIGNALS[h].SIGNAL_TIMESTAMP;\n            if (data[i].SIGNALS[h].MIN_THRESHOLD != \"NULL\" && data[i].SIGNALS[h].MAX_THRESHOLD != \"NULL\"){\n                min_threshold = data[i].SIGNALS[h].MIN_THRESHOLD;\n                max_threshold = data[i].SIGNALS[h].MAX_THRESHOLD;\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    min: min_threshold,\n                    max: max_threshold,\n                    topic: t\n                };\n            } else {\n                final_msg = {\n                    isRT: realtime,\n                    timestamp: ts,\n                    sensor_value: sv,\n                    topic: t\n                }\n            }\n            node.send(final_msg);\n        }\n        if (data[i].NOTIFICATIONS.length > 0){\n            for (var j = 0; j < data[i].NOTIFICATIONS.length;j++){\n                type = data[i].NOTIFICATIONS[j].TYPE;\n                value = data[i].NOTIFICATIONS[j].VALUE;\n                priority = data[i].NOTIFICATIONS[j].PRIORITY;\n                role = data[i].NOTIFICATIONS[j].ROLE;\n                node.send(\n                    {\n                        notif_info:[{\n                            notify_value: value,\n                            notify_type: type,\n                            notify_priority: priority,\n                            notfiy_role: role\n                        }],\n                        topic: \"notification\"\n                    }\n                )\n            }\n        }\n    }\n}\n\n","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["a44759fa.5b0a58"]]},{"id":"92032e38.61e91","type":"websocket in","z":"dd17dfa2.64ad1","name":"","server":"c6eb954a.1f1878","client":"","x":150,"y":360,"wires":[["7181719d.0e092"]]},{"id":"7181719d.0e092","type":"json","z":"dd17dfa2.64ad1","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["aa74ee94.430cd"]]},{"id":"aa74ee94.430cd","type":"change","z":"dd17dfa2.64ad1","name":"REAL_TIME == TRUE","rules":[{"t":"set","p":"REAL_TIME","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["2dbdc519.7c894a"]]},{"id":"750edd5e.815024","type":"comment","z":"dd17dfa2.64ad1","name":"PATH REAL TIME","info":"","x":130,"y":260,"wires":[]},{"id":"40deb340.08ffec","type":"comment","z":"dd17dfa2.64ad1","name":"msg Management","info":"","x":1030,"y":260,"wires":[]},{"id":"74ae0483.88322c","type":"comment","z":"dd17dfa2.64ad1","name":"PATH PER STORICO","info":"","x":140,"y":140,"wires":[]},{"id":"d8d9474.ece63b8","type":"comment","z":"dd17dfa2.64ad1","name":"Graph definition","info":"","x":1180,"y":140,"wires":[]},{"id":"571d9fc9.efcb9","type":"comment","z":"dd17dfa2.64ad1","name":"|| MACHINE ||","info":"","x":650,"y":80,"wires":[]},{"id":"f4ece366.16129","type":"ui_template","z":"678ae0e0.840fd","group":"7036b6d6.424248","name":"Import chart.js","order":3,"width":0,"height":0,"format":"<!-- Bootstrap & JQuery-->\n<script async=false defer=false src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"></script>\n<script async=false defer=false src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n<script async=false defer=false src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" type=\"text/css\">\n\n<!-- chart js -->\n<script async=false defer=false src=\"https://cdn.jsdelivr.net/npm/chart.js@2.8.0\"></script>\n<script async=false defer=false src=\"https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js\"></script>\n\n<!-- openlayers -->\n<link rel=\"stylesheet\" href=\"https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css\" type=\"text/css\">\n<script async=false defer=false src=\"https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js\" ></script>\n<script async=false defer=false src=\"https://cdn.maptiler.com/ol-mapbox-style/v5.0.2/olms.js\"></script>\n\n<!-- fontAwesome -->\n<script async=false defer=false src=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js\"></script>\n\n<!-- Settings -->\n<script async=false defer=false src=\"https://combinatronics.com/Francesco-PwC/Default/master/JS/Dashboard%20NodeRed/graph_utilites.js\"></script>\n<script async=false defer=false src=\"https://combinatronics.com/Francesco-PwC/Default/master/JS/Dashboard%20NodeRed/smartwatch_graphs.js\"></script>\n<script async=false defer=false src=\"https://combinatronics.com/Francesco-PwC/Default/master/JS/Dashboard%20NodeRed/fieldSensors_graphs.js\"></script>\n<script async=false defer=false src=\"https://combinatronics.com/Francesco-PwC/Default/master/JS/Dashboard%20NodeRed/machine_graphs.js\"></script>\n<script async=false defer=false src=\"https://combinatronics.com/Francesco-PwC/Default/master/JS/Dashboard%20NodeRed/graph_overlay.js\"></script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":460,"y":280,"wires":[[]]},{"id":"3f91e3d6.fcd87c","type":"ui_template","z":"678ae0e0.840fd","group":"975ffe65.0c943","name":"","order":6,"width":0,"height":0,"format":"<style>\n.type{\n    padding-left: 5%;\n    padding-right: 5%;\n}\n\n#tab_log_notif{\n    width:100%;\n}\n\n#containerMachine{\ndisplay: block;\nwidth: 100%;\n}\n\n#containerCounterMachine{\nwidth: 100%;\n}\n\n#counterMachine{\n    display:inline-block;\n}\n\n#containerTempMachine{\nwidth: 100%;\n}\n\n#machineChart{\n  display: block; width: 100%;\n}\n\n#svg{\n\tposition:relative;\n}\n\n#progressbg{\n\tz-index:0;\n\tposition:absolute;\n\ttop:0px;\n\n\tbox-shadow: 5px 5px 5px 5px #333;\n\tstroke: #fbfbfb;\n}\n#progress{\n\tstroke-dashoffset: 125px;\n\tstroke: #7df;\n\ttransition: 1s linear;\n\tz-index:1;\n\tposition:absolute;\n\ttop:0px;\n}\n#value{\n\twidth: 60%;\n\ttext-align: center;\n\tposition: absolute;\n\ttop: 114px;\n    left: 18%;\n\tfont-size: 50px;\n\tfont-weight: 100;\n\tcolor: #aef;\n\ttransition: color 1s linear;\n\n\t/*transform: rotate(90deg);*/\n}\n#svgcontainer{\n    width: 100%;\n    position: absolute;\n    left: 0;\n    top: -22%;\n    transform: scale(0.5);\n}\n\n#map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}\n\n\n\n#containerCounter, #containerRPM, #containerTemperature{\n    width: 6.4vw;\n    float: left;\n    height: 5.7rem;\n    background: #191919;\n    border-radius: 17px;\n    text-align: center;\n    position: relative;\n    box-shadow: 0 0 5px rgba(0,212,255,0.2), 0 0 3px rgba(0,212,255,0.2), 0 0 1px rgba(0,212,255,0.2), 0 0 10px rgba(121,9,115,0.1), 0 0 21px rgba(121,9,115,0.1);\n}\n\n#containerHsv{\n    position: relative;\n    width: 100%;\n    right: 0;\n    text-align: center;\n}\n#containerHeartBeat{\n    width: 45%;\n    height: 5.7rem;\n    background: #191919;\n    border-radius: 17px;\n    text-align: center;\n    box-shadow: 0 0 5px rgba(0,212,255,0.2), 0 0 3px rgba(0,212,255,0.2), 0 0 1px rgba(0,212,255,0.2), 0 0 10px rgba(121,9,115,0.1), 0 0 21px rgba(121,9,115,0.1);\n}\n#containerSound{\n    width: 45%;\n    height: 5.7rem;\n    background: #191919;\n    border-radius: 17px;\n    text-align: center;\n    box-shadow: 0 0 5px rgba(0,212,255,0.2), 0 0 3px rgba(0,212,255,0.2), 0 0 1px rgba(0,212,255,0.2), 0 0 10px rgba(121,9,115,0.1), 0 0 21px rgba(121,9,115,0.1);\n}\n#soundText, #heartText, #counterMachine, #rpmText, #tempText{\n    font-size: 2.5rem;\n    width: 100%;\n    margin-top: 8%;\n    background: transparent !important;\n    display: inline;\n    margin: 0;\n    text-align: left;\n}\n#container_s_data{\n    display: flex;\n    justify-content: space-between;\n    padding-left: 5%;\n    padding-right: 5%;\n    margin-bottom: 5%;\n    margin-top: 5%;\n}\n#container_s_data_mach{\n    display: flex;\n    justify-content: space-between;\n    padding-left: 5%;\n    padding-right: 5%;\n    margin-bottom: 5%;\n    margin-top: 5%;\n}\n.db_text, .bps_text{\n    position: relative;\n    display: inline;\n    width: 100%;\n    margin-top: 26%;\n}\n.dropdown{\n    background: #191919;\n    border: none;\n    color: #e5e5e5;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":280,"y":280,"wires":[[]]},{"id":"ffd4bae8.627088","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"73ef4fa5.973a7","name":"Gestore_grafici_macchine_v1","order":0,"width":"6","height":"7","format":"<style>{{msg.style}}</style>\n\n    <div id=\"containerMachine\">\n        <canvas id=\"machineChart\"></canvas>\n    </div>\n    <div id=\"containerCounterMachine\">\n        <a>Counter: <p id=\"counterMachine\"></p></a>\n    </div>\n    <div id=\"containerTempMachine\">\n        <canvas id=\"tempChart\"></canvas>\n    </div>\n    <script>\n    \n    //GRAFICI ---------------------\n    \nvar myChart;\nvar ctx = document.getElementById('machineChart');\nmyChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Round per Minute',\n             data: [0],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_2;\nvar ctx_2 = document.getElementById('tempChart');\nmyChart_2 = new Chart(ctx_2, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Temperature',\n            data: [0,1],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_HEART;\nvar c_HEART = document.getElementById('heartChart');\nmyChart_HEART = new Chart(c_HEART, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Bps',\n             data: [0],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_ALTITUDE;\nvar c_ALT = document.getElementById('altitudeChart');\nmyChart_ALTITUDE = new Chart(c_ALT, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Altitude',\n            data: [0,1],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n    //GRAFICI -----------------\\\\\\\\\\\nvar count_mac = 0;\nvar count_round = 0;\nvar count_heart = 0;\nvar count_alt = 0;\nvar text;\n(function(scope) {\n\ttext = document.getElementById(\"counterMachine\");\n        scope.$watch('msg', function(msg, data) {\n            var t = msg.timestamp;\n            var time = t.substring(11,13);\n            var minutes = t.substring(15,17);\n            switch(msg.topic){\n                case \"roundPerMinute\":\n                    roundPerMinuteRoutine(time,msg.sensor_value);\n                    break;\n                case \"piecesCount\":\n                \tpiecesCountRoutine(msg.sensor_value);\n                \tbreak;\n                case \"machineTemperature\":\n                \tmachineTempRoutine(time,msg.sensor_value);\n                \tbreak;\n                case \"Altitude\":\n                    altitudeRoutine(t,msg.sensor_value);\n                    break;\n            }\n        })\n    })(scope);\n    \nfunction addData(chart, label, dat, index) {\n    chart.data.labels.push(label);\n    if (count_mac > 10 || count_round > 10){\n        removeData(chart);\n    }\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.push(dat);\n    });\n    chart.update();\n}\n\nfunction removeData(chart){\n    chart.data.labels.shift();\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.shift();\n        });\n    chart.update();\n}\n\nfunction removeSingleData(chart) {\n    chart.data.labels.shift();\n    chart.update();\n}\n\nfunction piecesCountRoutine(value){\n    var val = value;\n    text.innerHTML = val;\n}\n\nfunction roundPerMinuteRoutine(times, value){\n\taddData(myChart,times,value, count_round++);\n}\n\nfunction machineTempRoutine(times, value){\n    addData(myChart_2,times,value,count_mac++);\n}\n\nfunction altitudeRoutine(times, value){\n\taddData(myChart_HEART,times,value, count_alt++);\n}\n\n\n    </script>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1430,"y":60,"wires":[[]]},{"id":"3fc2c0e4.5dc2a","type":"ui_template","z":"a8f1e1a6.a2b0a","d":true,"group":"73ef4fa5.973a7","name":"Gestore_grafici_macchine_v2","order":0,"width":"6","height":"7","format":"<style>{{msg.style}}</style>\n\n    <div id=\"containerMachine\">\n        <canvas id=\"machineChart\"></canvas>\n    </div>\n    <div id=\"containerCounterMachine\">\n        <a>Counter: <p id=\"counterMachine\"></p></a>\n    </div>\n    <div id=\"containerTempMachine\">\n        <canvas id=\"tempChart\"></canvas>\n    </div>\n    <script>\n    \n    //GRAFICI ---------------------\n    \nvar myChart;\nvar ctx = document.getElementById('machineChart');\nmyChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Round per Minute',\n             data: [0],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_2;\nvar ctx_2 = document.getElementById('tempChart');\nmyChart_2 = new Chart(ctx_2, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Temperature',\n            data: [0,1],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_HEART;\nvar ctx_H = document.getElementById('heartChart');\nmyChart_HEART = new Chart(ctx_H, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Bps',\n            data: [0],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n\nvar myChart_ALT;\nvar ctx_ALT = document.getElementById('altitudeChart');\nmyChart_ALT = new Chart(ctx_ALT, {\n    type: 'line',\n    data: {\n        datasets: [{\n            label: 'Altitude',\n            data: [0,1],\n            backgroundColor: [\n                'rgba(19, 19, 19, 0.1)'\n            ],\n            borderColor: [\n                'rgba(70,102,255, 1)'\n            ],\n            borderWidth: 2\n        }]\n    },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n    //GRAFICI -----------------\\\\\\\\\\\nvar count_mac = 0;\nvar count_round = 0;\nvar count_heart = 0;\nvar count_alt = 0;\nvar text;\nvar text_sound;\n(function(scope) {\n\ttext = document.getElementById(\"counterMachine\");\n\ttext_sound = document.getElementById(\"soundText\");\n        scope.$watch('msg', function(msg, data) {\n            var t = msg.timestamp;\n            var time = t.substring(11,13);\n            var minutes = t.substring(15,17);\n            switch(msg.topic){\n                case \"roundPerMinute\":\n                    roundPerMinuteRoutine(time,msg.sensor_value);\n                    break;\n                case \"piecesCount\":\n                \tpiecesCountRoutine(msg.sensor_value);\n                \tbreak;\n                case \"machineTemperature\":\n                \tmachineTempRoutine(time,msg.sensor_value);\n                \tbreak;\n                case \"Altitude\":\n                    altitudeRoutine(time,msg.sensor_value);\n                    break;\n                case \"heartBeat\":\n                    heartRoutine(time,msg.sensor_value);\n                \tbreak;\n                case \"Sound\":\n                    soundRoutine(msg.sensor_value);\n                \tbreak;\n            }\n        })\n    })(scope);\n    \nfunction addData(chart, label, dat, index) {\n    chart.data.labels.push(label);\n    if (count_mac > 10 || count_round > 10){\n        removeData(chart);\n    }\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.push(dat);\n    });\n    chart.update();\n}\n\nfunction removeData(chart){\n    chart.data.labels.shift();\n    chart.data.datasets.forEach((dataset) => {\n        dataset.data.shift();\n        });\n    chart.update();\n}\n\nfunction removeSingleData(chart) {\n    chart.data.labels.shift();\n    chart.update();\n}\n\nfunction piecesCountRoutine(value){\n    var val = value;\n    text.innerHTML = val;\n}\n\nfunction roundPerMinuteRoutine(times, value){\n\taddData(myChart,times,value, count_round++);\n}\n\nfunction machineTempRoutine(times, value){\n    addData(myChart_2,times,value,count_mac++);\n}\n\nfunction heartRoutine(times, value){\n    addData(myChart_HEART,times,value,count_mac++);\n}\n\nfunction altitudeRoutine(times, value){\n\taddData(myChart_ALT,times,value, count_round++);\n}\nfunction soundRoutine(value){\n    var val = value;\n    text_sound.innerHTML = val;\n}\n\n\n\n    </script>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1430,"y":100,"wires":[[]]},{"id":"68b3131.9f8bcec","type":"debug","z":"d23a9853.4eb138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1620,"y":320,"wires":[]},{"id":"7dd03147.9466","type":"delay","z":"d23a9853.4eb138","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":180,"wires":[["33fa3a8.a828bc6"]]},{"id":"9c9d8b52.72c458","type":"ui_template","z":"d23a9853.4eb138","group":"975ffe65.0c943","name":"","order":4,"width":0,"height":0,"format":"<script>\nscope_SC = scope;\nvar count = 0;\nscope_SC.$watch('msg', function(msg){\n    if(typeof msg !== 'undefined'){\n        count++;\n        if(count > 1){\n            myChart_HEART.options.animation.duration = 0;\n            scroll(graph_to_zoom_HEART, msg.msg_count, myChart_HEART);\n        }\n    }\n})\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1300,"y":500,"wires":[[]]},{"id":"ee6c8387.59c56","type":"switch","z":"d23a9853.4eb138","name":"","property":"msg_count","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":420,"wires":[["b72bad69.7c3a4"],["9c9d8b52.72c458","6b069770.489b38"]]},{"id":"6b069770.489b38","type":"debug","z":"d23a9853.4eb138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":560,"wires":[]}]